<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
    <!-- Latest IE rendering engine & Chrome Frame Meta Tags -->
    <!--[if IE]>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <![endif]-->
    <!-- TITLE-->
    <title>FinTheme</title>
    <!-- Favicon -->

    <!-- GOOGLE FONTS
            ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link rel="stylesheet" id="google-fonts-zozo_options-css" href="http://fonts.googleapis.com/css?family=Hind%3A300%2C400%2C500%2C600%2C700%7CRaleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%2C100italic%2C200italic%2C300italic%2C400italic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic" type="text/css" media="all">

    <!-- CSS BEGINS 
            ================================================== -->
    <!-- ELEMENTS BASE CSS -->
    <link href="css/elements.min.css" rel="stylesheet" type="text/css" />
    <!-- THEME BASE CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- COLOR SCHEME -->
    <link href="css/colors/color1.css" id="changeable-colors" rel="stylesheet" />
    <!-- CSS ENDS   
		 	 ================================================== -->
</head>

<body>
    <!-- Page Loader -->
    <div id="pageloader">
        <div class="loader-inner">
            <img src="images/base/loader.gif" alt="">
        </div>
    </div>
    <!-- PAGE WRAPPER -->
    <div id="page-wrapper" class="header-dropdown-dark">
         <div class="content-wrapper">
            <!-- HEADER -->
            <header class="header-details-toggle header-dark  header-sticky-dark">
                <!-- STICKY WRAPPER -->
                <div id="sticker" class="header-main sticky-navigation">
                    <nav class="navbar navbar-default fixed">
                        <div class="container">
                            <!-- TOGGLE ICON -->
                            <div class="navbar-header">
                                <a class="navbar-toggle" href="#nav-menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span> </a>
                                <!-- LOGO & LOGO STICKY  -->
                                <a class="navbar-brand" href="index.html"><img src="images/logo1.png" alt="logo" width="155" height="25"><img src="images/logo1.png" class="sticky-logo" alt="logo" width="155" height="25"> </a>                            </div>
                            <!-- /. TOGGLE ICON -->
                            <!-- EXTRA NAV (FOR ELEMENTS) -->
                            <div id="extra-nav" class="extra-nav">
                                <ul class="nav navbar-nav navbar-right">
                                    <!-- TOGGLR SEARCH -->
                                    <li class="dropdown search-dropdown">
                                        <a id="search-toggle" class="header-toggle-icon" href="#"> <span class="flaticon-magnifying-glass"></span>
                                        </a>
                                    </li>
                                    <!-- /. TOGGLR SEARCH -->
                                    <li id="extra-toggle-search" class="theme-bg header-toggle-content">
                                        <div class="container">
                                            <form>
                                                <input type="text" class="form-control typo-light" id="search-form" name="search-form" placeholder="TYPE AND HIT ENTER..">
                                                <a id="toggle-close-search" class="toggle-close" href="#"><span class="fa fa-times typo-light text-style"></span></a>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /. EXTRA NAV (FOR ELEMENTS) -->
                            <!-- MAIN MENU -->
                            <div id="nav-menu">
                                <ul class="nav navbar-nav navbar-right">
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="index.html" class="active">Home <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index2.html">Home Layout 2</a></li>
                                            <li><a href="index3.html">Home Layout 3</a></li>
                                            <li><a href="index4.html">Home Layout 4</a></li>
											<li><a href="index5.html">Home Layout 5</a></li>
											<li><a href="index6.html">Home Layout 6</a></li>
											<li><a href="one-page-demo.html">One Page Demo</a></li>
                                        </ul>
                                    </li>
                                    <!-- MENU -->
                                    <!-- MEGA MENU -->
                                    <li class="dropdown">
                                        <a href="about.html">About<span class="caret"></span></a>
                                        <!-- MEGA MENU WRAPPER -->
                                        <ul class="dropdown-menu">
                                            <li class="extra-link"><a href="our-business.html" class="sub-menu">Our Business</a>
                                            </li>
                                            <li><a href="our-history.html">Our History</a>
                                            </li>
                                            <li><a href="our-awards.html">Our Awards</a>
                                            </li>
                                            <li><a href="our-vision-and-values.html">Our Vision and Values</a>
                                            </li>
                                            <li><a href="our-team.html">Our Team</a>
                                            </li>
                                            <li><a href="corporate-social-responsibility.html">Corporate Social Responsibility</a>
                                            </li>
                                            <li><a href="careers.html">Careers</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <!-- MEGA MENU -->
                                    <li class="dropdown">
                                        <a href="services.html">Service<span class="caret"></span></a>
                                        <!-- DROPDOWN MENU -->
                                        <ul class="dropdown-menu">
                                            <li><a href="market-strategy.html">Market Strategy</a>
                                            </li>
                                            <li><a href="trades-stocks.html">Trades & Stocks</a>
                                            </li>
                                            <li><a href="strategic-planning.html">Strategic Planning</a
                                            ></li>
                                            <li><a href="investment-planning.html">Investment planning</a>
                                            </li>
                                            <li><a href="taxes-advisory.html">Taxes Advisory</a>
                                            </li>
                                            <li><a href="mutual-funds.html">Mutual Funds</a>
                                            </li>
                                            <li><a href="retaining-planning.html">Retaining Planning</a>
                                            </li>
                                            <li><a href="charities.html">charities</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- MENU -->
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="blog-resources.html">Blog &amp; Resources<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="blog-resources.html">Blog</a>
                                            </li>
                                            <li><a href="case-studies.html">Case studies</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- DROPDOWN -->
                                    <li class="dropdown"><a href="events.html">Events</a>
                                    </li>
                                    <!-- MENU -->
                                    <!-- MEGA MENU -->
                                    <li class="dropdown mega-dropdown scroll"><a href="contact-us.html">Contact Us</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- /. MAIN MENU -->
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
                <!-- /. STICKY WRAPPER -->
            </header>
            <!-- /. HEADER -->
	
            <!-- PAGE HEADING SECTION -->
            <section class="page-header padding-sm page-title-left minimal light-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <!-- TITLE-->
                            <h2 class="typo-lights col-md-6" data-animated="fadeInLeftBig" data-animation-delay="400">Business Communication Skills</h2>
                            <!-- BREADCRUMB-->
                            <ul class="breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
								 <li class="typo-dark">Business Communication Skills</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- PAGE HEADING SECTION -->
            <section class="sidebar-wrapper right-sidebar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 top-margin-md bottom-margin-md">
                            <!-- POST -->
                            <div class="row">

                                <div class="col-md-12" data-animation="fadeInUp" data-animation-delay="800">
                                    <!-- IMAGE -->
                                    <div class="post-image">
                                         <img class="img-responsive" width="800" height="500" src="images/content/events/set1/about-grid3.jpg" alt="" />
                                    </div>
                                    <!-- CONTENT -->
                                    <p>The traditional conference MIC will be organized as a Joint International Conference in co-operation with five partner institutions: the University of Primorska, Faculty of Management (Slovenia), the Moscow State University Lomonosov, Moscow School of Economics (Russian Federation), the Juraj Dobrila University of Pula, Faculty of Economics and Tourism &quot; Dr. Mijo Mirkovic &quot; (Croatia), the Association for the Study of East European Economies and Cultures (USA) and the Society for the Study of Emerging Markets (USA).</p>
                                    <p>The conference theme is <strong>Managing the Global Economy,</strong> which will be discussed in five tracks: management, economics, finance, tourism and energy. The special feature of this year&acute;s conference is a programme track on <strong>Challenges in the Digital Economy</strong>.</p>
									<p>Business communication is the sharing of information between people within and outside the organization that is performed for the commercial benefit of the organization. It can also be defined as relaying of information within a business by its people.</p>
									<p>If someone or something is corrupt, they&acute;re broken morally or in some other way. Corrupt people perform immoral or illegal acts for personal gain, The special feature of this year&acute;s conference is a programme track on without apology. Corrupt politicians take bribes and deny it.</p>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium.</p>
									<!-- READ MORE LINK -->
                                    <div class="row entry-meta">
                                        <div class="col-md-12">
											<p>The conference programme features:</p>
											<ul class="left-padding-md light-style">
											<li>keynote addresses,</li>
											<li>high-quality research paper presentations in concurrent sessions,</li>
											<li>poster presentations,</li>
											<li>editors &acute; panel and exhibition of journals, supporting the conference,</li>
											<li>doctoral students &acute; workshop and other thematic workshops</li>
											</ul>
									   </div>
								    </div>
                                </div>
                            </div>
                           
						</div>
						<!-- SIDE_BAR -->
                        <div class="col-md-4 sidebar bottom-padding-sm">
                            <div class="recent-block bottom-padding-sm">
                                <h4>Headquarters</h4>
                                <address>
									<div class="feature-box style-3">
										<div class="icon-wrapper">
											<!-- ICON -->
											<i class="fa-calendar fa"></i>
										</div>	
										<div class="inner-wrapper">
											<!-- ADDRESS -->
											<p class="feature-description">Wed 11 Jan 2017</p>	
										</div>	
									</div>
									<div class="feature-box style-3">
										<div class="icon-wrapper">
											<!-- ICON -->
											<i class="fa-clock-o fa"></i>
										</div>	
										<div class="inner-wrapper">
											<!--  PHONE NUMBER -->
											<p class="feature-description">  9:30 am</p>
										</div>	
									</div>
									<div class="feature-box style-3">
										<div class="icon-wrapper">
											<!-- ICON -->
											<i class="fa fa-home"></i>
										</div>	
										<div class="inner-wrapper">
											<!--  PHONE NUMBER -->
											<p class="font-weight-lbold feature-description"> Oxford University </p>
										</div>	
									</div>
								</address>
								<p class="left-padding-sm">Brno, Czech Repubc, Austrian Institute of Economic Research WIFO</p>
                            </div>
                            <div class="event-map bottom-padding-sm">
								<!--MAP-->
								<div style="height: 350px;" class="map-canvas" data-zoom="12" data-lat="-35.2835" data-lng="149.128" data-title="Autin" data-type="roadmap" data-hue="" data-content="Company Name&lt;br&gt; Contact: +012 (345) 6789&lt;br&gt; info@youremail.com"></div>
								<!-- MAP SECTION -->
							</div>
                            <div class="widget">
                                <div class="career-form light-bg">
                                <p class="form-message" style="display: none;"></p>
                                <form class="form-box bv-form" name="careerform" id="careerform" method="post" enctype="multipart/form-data" novalidate="novalidate"><button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                    <!--TITLE-->
                                    <h5>Apply Now</h5>
                                    <p id="form-message2" class="form-message2"></p>
                                    <!-- Field 1 -->
                                    <div class="input-text form-group has-feedback">
                                        <input class="input-name form-control" id="career_name" name="career_name" placeholder="Name" data-bv-field="career_name" type="text"><i style="display: none;" class="form-control-feedback bv-no-label" data-bv-icon-for="career_name"></i>
                                    <small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="career_name" data-bv-result="NOT_VALIDATED">Please enter a value</small></div>
                                    <!-- Field 2 -->
                                    <div class="input-email form-group has-feedback">
                                        <input id="femail" name="femail" class="form-input input-email form-control" placeholder=" E-Mail" data-bv-field="femail" type="email"><i style="display: none;" class="form-control-feedback bv-no-label" data-bv-icon-for="femail"></i>
                                    <small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="femail" data-bv-result="NOT_VALIDATED">Please enter a value</small><small style="display: none;" class="help-block" data-bv-validator="emailAddress" data-bv-for="femail" data-bv-result="NOT_VALIDATED">Please enter a valid email address</small><small style="display: none;" class="help-block" data-bv-validator="regexp" data-bv-for="femail" data-bv-result="NOT_VALIDATED">The value is not a valid email address</small></div>
                                    <div class="row" role="form">
                                        <!-- Field 3 -->

                                        <div class="col-md-12 form-group">
                                            <label class="sr-only">City</label>
                                            <input name="career_city" class="form-control" placeholder="City" type="text">
                                        </div>
                                    </div>
                                    <!-- Field 5 -->
                                    <div class="input-phone form-group has-feedback">
                                        <label class="sr-only">Phone</label>
                                        <input class="input-phone form-control" id="career_phone" name="career_phone" placeholder="Phone" data-bv-field="career_phone" type="text"><i style="display: none;" class="form-control-feedback" data-bv-icon-for="career_phone"></i>
                                    <small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="career_phone" data-bv-result="NOT_VALIDATED">Please enter a value</small></div>
                                    <!-- Field 9 -->
                                    <div class="form-group">
                                        <label class="sr-only">Comment</label>
                                        <textarea class="form-control" id="career_comment" name="career_comment" placeholder="Why do you want to work with us?"></textarea>
                                    </div>
                                    <!-- Field 10 -->
                                    <div class="input-file form-group has-feedback">
                                        <input id="careerfile" name="careerfile" class="input-file" data-bv-field="careerfile" type="file"><i style="display: none;" class="form-control-feedback bv-no-label" data-bv-icon-for="careerfile"></i>
                                    <small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="careerfile" data-bv-result="NOT_VALIDATED">Please Upload pdf or doc or docx file</small><small style="display: none;" class="help-block" data-bv-validator="file" data-bv-for="careerfile" data-bv-result="NOT_VALIDATED">The selected file is not valid!</small></div>
                                    <div class="clearfix"></div>
                                    <!-- Button -->
                                    <button type="submit" class="btn btn-theme btn-square btn-hv-dark btn-hv-dark btn-icon-right btn-default">Send my application</button>
                                </form>
                            </div>
                            </div>
                        </div>
                        <!-- SIDEBAR END -->
                    </div>
                </div>
            </section>
			
		</div>
		<!-- /. Content-wrapper -->
            <!-- FOOTER SECTION -->
            <footer id="footer" class="footer dark-bg">
                <div class="footer-top">
                    <div class="container">
                        <div class="row bg-no-repeat background-position-left">
                            <div class="col-md-3 col-sm-6">
                                <!-- LOGO -->
                                <img src="images/logo1.png" alt="logo">
                                <br>
                                <p>FinTheme is a superbly innovative, robustly reliable, clean-coded and feature rich WordPress theme with powerful administration settings. It is easy to customize for all kinds of financial companies.</p>

                                <div class="feature-box no-bottom-margin style-3">
                                    <div class="icon-wrapper">
                                        <!-- ICON -->
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="inner-wrapper">
                                        <!--  PHONE NUMBER -->
                                        <p class="feature-description"> - +44 123 4567</p>
                                    </div>
                                </div>
                                <div class="feature-box style-3">
                                    <div class="icon-wrapper">
                                        <!-- ICON -->
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="inner-wrapper">
                                        <!-- EMAIL -->
                                        <p class="feature-description"><a class="" href="mailto:info@website.com"> - info@fintheme.com</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 left-padding">
                                <!-- WIDGET -->
                                <h5 class="widget-title text-style text-uppercase">Services</h5>
                                <!-- LIST -->
                                <ul class="list-unstyled">
                                    <li class="bottom-margin-vsm"><a href="market-strategy.html">Market Strategy</a>
                                    </li> <li class="bottom-margin-vsm"><a href="trades-stocks.html">Trades & Stocks</a>
                                    </li>
                                    <li class="bottom-margin-vsm"><a href="strategic-planning.html">Strategic Planning</a
                                    ></li>
                                    <li class="bottom-margin-vsm"><a href="investment-planning.html">Investment planning</a>
                                    </li>
                                    <li class="bottom-margin-vsm"><a href="taxes-advisory.html">Taxes Advisory</a>
                                    </li>
                                    <li class="bottom-margin-vsm"><a href="mutual-funds.html">Mutual Funds</a>
                                    </li>
                                    <li class="bottom-margin-vsm"><a href="retaining-planning.html">Retaining Planning</a>
                                    </li>
                                    <li class="bottom-margin-vsm"><a href="charities.html">charities</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6  recent-block">
                            <h5 class="widget-title text-style left-padding-sm text-uppercase">Latest News</h5>
                             <ul class="list-unstyled left-padding-sm">
                                <li><a href="secrets-about-investment-they-are-still-keeping-from-you.html"><span class="icons fa fa-minus"></span>Secrets About Investment They Are Still Keeping From You </a>
                                </li>
                                <li>December 12, 2016</li>
                                <li><a href="marketing-strategy-secrets-revealed.html"><span class="icons fa fa-minus"></span>Marketing Strategy Secrets Revealed</a>
                                </li>
                                <li>December 12, 2016</li>
                                <li><a href="business-plan-strategies-for-the-entrepreneurially-challenged.html"><span class="icons fa fa-minus"></span>Business Plan Strategies For The Entrepreneurially Challenged</a>
                                </li>
                                <li>December 12, 2016</li>
                            </ul>
                        </div>
                            <div class="col-md-3 col-sm-6  footer-widgets">
                                <!-- NEWSLETTER -->
                                <h5 class="widget-title text-style text-uppercase">Newsletter Signup</h5>
                                <p>Sign up for new FinTheme content, updates, surveys & offers. </p>
                                <p class="form-message1" style="display: none;"></p>
                                <form class="input-group form-flat form-theme padding-top-10 bv-form" name="subscribe-form" method="post" action="php/subscription.php" id="subscribe-form" novalidate="novalidate">
                                    <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                    <div class="form-group has-feedback">
                                        <input class="form-control typo-light" placeholder="Enter Your Email" value="" name="subscribe_email" data-bv-field="subscribe_email" type="email"><i style="display: none;" class="form-control-feedback bv-no-label" data-bv-icon-for="subscribe_email"></i>
                                        <small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Email is required. Please enter email.</small><small style="display: none;" class="help-block" data-bv-validator="emailAddress" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Please enter a correct email address.</small>
                                    </div>
                                    <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="flaticon-next-1 fa"></i></button></span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom footer-top-border">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="copyright">
                                &copy; Copy Right 2017  All Rights Reserved.
                                <ul class="footer-bottom-links text-uppercase">
                                    <li><a href="http://catchpixel.com/" target="_blank">Crafted By CatchPixel</a></li>
                                </ul>
                            </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <!-- SOCIAL SHARE -->
                                <ul class="footer-social-icons">
                                    <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook text-darkest social-facebook-hvcolor"></i></a></li>
                                    <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter text-darkest social-twitter-hvcolor"></i></a></li>
                                    <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin text-darkest social-linkedin-hvcolor"></i></a></li>
                                    <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest text-darkest social-pinterest-hvcolor"></i></a></li>
                                    <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus text-darkest social-google-plus-hvcolor"></i></a></li>
                                    <li class="youtube"><a href="#" target="_blank"><i class="fa fa-youtube text-darkest social-youtube-hvcolor"></i></a></li>
                                    <li class="dribbble"><a href="#" target="_blank"><i class="fa fa-dribbble text-darkest social-dribbble-hvcolor"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <a href="#" id="back-to-top" title="Back to top"></a>
            <!-- FOOTER SECTION -->
        </div>
        <!-- /. PAGE WRAPPER -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/bootstrapValidator.min.js"></script>
        <script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
        <script type="text/javascript" src="js/jquery.sticky.js"></script>
        <script type="text/javascript" src="js/jquery.appear.min.js"></script>
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>		
        <script type="text/javascript" src="js/google.map.js"></script>
</body>

</html>
