<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
    <!-- Latest IE rendering engine & Chrome Frame Meta Tags -->
    <!--[if IE]>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <![endif]-->
    <!-- TITLE-->
    <title>FinTheme</title>
    <!-- Favicon -->

    <!-- GOOGLE FONTS
            ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link rel="stylesheet" id="google-fonts-zozo_options-css" href="http://fonts.googleapis.com/css?family=Hind%3A300%2C400%2C500%2C600%2C700%7CRaleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%2C100italic%2C200italic%2C300italic%2C400italic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic" type="text/css" media="all">

    <!-- CSS BEGINS 
            ================================================== -->
    <!-- ELEMENTS BASE CSS -->
    <link href="css/elements.min.css" rel="stylesheet" type="text/css" />
    <!-- THEME BASE CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- COLOR SCHEME -->
    <link href="css/colors/color1.css" id="changeable-colors" rel="stylesheet" />
    <!-- CSS ENDS   
		 	 ================================================== -->
</head>

<body>
    <!-- Page Loader -->
    <div id="pageloader">
        <div class="loader-inner">
            <img src="images/base/loader.gif" alt="">
        </div>
    </div>
	<div id="page-wrapper" class="right-push header-dropdown-dark">
   	 <div class="content-wrapper">
        <!-- HEADER -->
        <header class="header-logo-top-center header-details-toggle header-dark header-transparent header-top-transparent header-sticky-light no-border ">
            <!-- STICKY WRAPPER -->
            <div id="sticker" class="header-main sticky-navigation">
                <nav class="navbar navbar-default fixed">
                    <div class="container">
                        <!-- TOGGLE ICON -->
                        <div class="navbar-header">
                            <a class="navbar-toggle" href="#nav-menu">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <!-- LOGO & LOGO STICKY  -->
                            <a class="navbar-brand" href="index.html"><img src="images/logo1.png" alt="logo" width="155" height="25"><img src="images/logo1.png" class="sticky-logo" alt="logo" width="155" height="25"></a>
                        </div>
                        <!-- /. TOGGLE ICON -->
                        <!-- MAIN MENU -->
                        <div id="nav-menu" class="">
                            <ul class="nav navbar-nav navbar-right">
                                <!-- DROPDOWN --><li class="dropdown">
                                        <a href="index.html" class="active">Home <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index2.html">Home Layout 2</a></li>
                                            <li><a href="index3.html">Home Layout 3</a></li>
                                            <li><a href="index4.html">Home Layout 4</a></li>
											<li><a href="index5.html">Home Layout 5</a></li>
											<li><a href="index6.html">Home Layout 6</a></li>
											<li><a href="one-page-demo.html">One Page Demo</a></li>
                                        </ul>
                                    </li>
                                <!-- MENU -->
                                <!-- MEGA MENU -->
                                <li class="dropdown">
                                    <a href="about.html">About<span class="caret"></span></a>
                                    <!-- MEGA MENU WRAPPER -->
                                    <ul class="dropdown-menu">
                                        <li class="extra-link"><a href="our-business.html" class="sub-menu">Our Business</a>
                                        </li>
                                        <li><a href="our-history.html">Our History</a>
                                        </li>
                                        <li><a href="our-awards.html">Our Awards</a>
                                        </li>
                                        <li><a href="our-vision-and-values.html">Our Vision and Values</a>
                                        </li>
                                        <li><a href="our-team.html">Our Team</a>
                                        </li>
                                        <li><a href="corporate-social-responsibility.html">Corporate Social Responsibility</a>
                                        </li>
                                        <li><a href="careers.html">Careers</a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- MEGA MENU -->
                                <li class="dropdown">
                                    <a href="services.html">Service<span class="caret"></span></a>
                                    <!-- DROPDOWN MENU -->
                                    <ul class="dropdown-menu">
                                        <li><a href="market-strategy.html">Market Strategy</a>
                                        </li>
                                        <li><a href="trades-stocks.html">Trades & Stocks</a>
                                        </li>
                                        <li><a href="strategic-planning.html">Strategic Planning</a></li>
										<li><a href="investment-planning.html">Investment planning</a>
                                        </li>
                                        <li><a href="taxes-advisory.html">Taxes Advisory</a>
                                        </li>
                                        <li><a href="mutual-funds.html">Mutual Funds</a>
                                        </li>
                                        <li><a href="retaining-planning.html">Retaining Planning</a>
                                        </li>
                                        <li><a href="charities.html">charities</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- MENU -->
                                <!-- DROPDOWN -->
                                <li class="dropdown">
                                    <a href="blog-resources.html">Blog &amp; Resources<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="blog-resources.html">Blog</a>
                                        </li>
                                        <li><a href="case-studies.html">Case studies</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- DROPDOWN -->
                                <li class="dropdown"><a href="events.html">Events</a>
                                </li>
                                <!-- MENU -->
                                <!-- MEGA MENU -->
                                <li class="dropdown mega-dropdown scroll"><a href="contact-us.html">Contact Us</a>
                                </li>
                            </ul>

                        </div>
                        <!-- /. MAIN MENU -->
                        <!-- EXTRA NAV (FOR ELEMENTS) -->
                        <div id="extra-nav" class="extra-nav">
                            <ul class="nav navbar-nav navbar-right typo-light">
                                <!-- TOGGLR SEARCH -->
                                <li class="dropdown search-dropdown">
                                    <a id="search-toggle" class="header-toggle-icon" href="#"> <span class="flaticon-magnifying-glass"></span></a>                                </li>
                                <!-- /. TOGGLR SEARCH -->
								<li id="extra-toggle-search" class="theme-bg header-toggle-content">
                                        <div class="container">
                                            <form>
                                                <input type="text" class="form-control typo-light" id="search-form" name="search-form" placeholder="TYPE AND HIT ENTER..">
                                                <a id="toggle-close-search" class="toggle-close" href="#"><span class="fa fa-times text-style typo-light"></span></a>
                                            </form>
                                        </div>
                                    </li>
                           
                            </ul>
                        </div>
                        <!-- /. EXTRA NAV (FOR ELEMENTS) -->
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
            <!-- /. STICKY WRAPPER -->
        </header>
        <!-- /. HEADER -->
        <!-- GRID SECTION -->
        <!-- SLIDER SECTION -->
        <section class="slider-section single-screen bg-no-repeat typo-light" data-background="images/content/slider/43.jpg">

            <!-- ITEM  -->
            <div class="top-padding bottom-padding-lg">
                <div class="container slider-content text-center">
                    <!-- TITLE  -->
                    <h1 style="text-align: center;font-family:Raleway;font-weight:800;font-style:normal">Finance & Consulting WordPress Theme</h1>
                    <div class="top-margin bottom-padding-sm slider-title">
                        <!-- TEXT  -->
                        <h4>Since 1995, we've provided financial guidance to organizations and individuals,<br>to help turn their financial goals into reality..</h4>
                        <!-- BUTTON  -->
                    </div>
                    <p>
                        <button class="btn btn-md btn-hv-dark btn-light">Our Service</button>
                    </p>
                </div>
            </div>

        </section>
        <!-- SLIDER SECTION -->
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center bottom-padding-sm">
                        <!-- TEXT  -->
                        <h2 class="text-uppercase">we can manage your finance</h2>
                        <p class="title-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. soluta hic aperiam porro ipsum nisi optio necessitatibus commodi dolorum ente voluptatem officiis similique maiores! </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 text-center">
                        <div class=" feature-box style-6 rounded white-bg no-top-margin bottom-margin-vsm">
                            <!-- IMAGE -->
                            <div class="feature-image">
                                <img class="img-responsive" src="images/content/services/set3/post-21.jpg" width="560" height="360" alt="image11">

                            </div>
                            <div class="feature-text text-center">
                                <!-- TITLE -->
                                <h4 class="legend"><a href="Market-Strategy.html">Market Strategy</a></h4>
                                <!-- TEXT -->
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, </p>
                                <!-- BUTTON -->
                                <a href="Market-Strategy.html" class="btn-theme btn btn-hv-dark btn-md btn-rounded"> READ MORE </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <div class=" feature-box style-6 rounded white-bg no-top-margin bottom-margin-vsm">
                            <!-- IMAGE -->
                            <div class="feature-image">
                                <img class="img-responsive" src="images/content/services/set3/post-6.jpg" width="560" height="360" alt="image-4" />

                            </div>
                            <div class="feature-text text-center">
                                <!-- TITLE -->
                                <h4 class="legend"><a href="investment-planning.html">InvestmentPlanning</a></h4>
                                <!-- TEXT -->
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, </p>
                                <!-- BUTTON -->
                                <a href="investment-planning.html" class="btn-theme btn btn-hv-dark btn-md btn-rounded"> READ MORE </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <div class=" feature-box style-6 rounded white-bg no-top-margin bottom-margin-vsm">
                            <!-- IMAGE -->
                            <div class="feature-image ">
                                <img class="img-responsive" src="images/content/services/set3/post-7.jpg" width="560" height="360" alt="image-5" />

                            </div>
                            <div class="feature-text text-center">
                                <!-- TITLE -->
                                <h4 class="legend"><a href="taxes-advisory.html">Taxes Advisory</a></h4>
                                <!-- TEXT -->
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, </p>
                                <!-- BUTTON -->
                                <a href="taxes-advisory.html" class="btn-theme btn btn-hv-dark btn-md btn-rounded"> READ MORE </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.CONTAINER -->
        </section>
        <!-- ABOUT SECTION -->
        <section class="bg-image bottom-padding-md parallax-bg typo-light" data-stellar-background-ratio="0.5" data-background="images/content/bg/elements/16.jpg" style="background-image: url(&quot;images/content/bg/elements/16.jpg&quot;); background-position: 50% -91.0167px;">
            <div class="overlay-darker"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- TITLE -->
                        <h4 class="font-weight-bold text-center"> WE ARE <span class="text-primary">PASSIONATE</span> ABOUT OUR WORK</h4>
                    </div>
                </div>
                <div class="row top-padding-sm">
                    <div class="col-md-3 col-xs-6">
                        <div class="text-center counter-wrapper hv-wrapper ">
                            <!-- COUNTER NUMBER -->
                            <div data-count="1250" class="border-rounded number-counter "><span class="counter border-rounded ">1250</span></div>
                            <!-- COUNTER TITLE -->
                            <h5 class="text-grey">Branches</h5>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="text-center counter-wrapper hv-wrapper">
                            <!-- COUNTER NUMBER -->
                            <div data-count="599" class="number-counter"><span class="counter">599</span></div>
                            <!-- COUNTER TITLE -->
                            <h5 class="text-grey">Projects</h5>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="text-center counter-wrapper hv-wrapper">
                            <!-- COUNTER NUMBER -->
                            <div data-count="822" class="number-counter"><span class="counter">822</span></div>
                            <!-- COUNTER TITLE -->
                            <h5 class="text-grey">Awards</h5>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="text-center counter-wrapper hv-wrapper">
                            <!-- COUNTER NUMBER -->
                            <div data-count="4766" class="number-counter"><span class="counter">4766</span></div>
                            <!-- COUNTER TITLE -->
                            <h5 class="text-grey">clients</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- SERVICE SECTION -->
        <section id="services1" class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center bottom-padding">
                        <!-- TEXT  -->
                        <h2 class="text-uppercase">manage your finance</h2>
                        <p class="title-description">Lorem ipsum dolor sit amet is nisi ut aliquip. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="col-md-3 col-sm-6 ">
                            <div class="boxed-layout padding">
                                <div class="feature-image text-center">
                                    <i class="icon-dark fa-clock-o fa fa-3x"></i>
                                </div>
                                <div class="feature-text text-center">
                                    <!-- TITLE -->
                                    <h4 class="legend  text-center">Market Strategy</h4>
                                    <!-- TEXT -->
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, </p>
                                    <!-- BUTTON -->
                                    <a href="market-strategy.html" class="btn-theme btn  btn-hv-dark btn-md btn-rounded">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class=" boxed-layout padding">
                                <div class="feature-image text-center">
                                    <i class="icon-dark fa fa-gg fa-3x"></i>
                                </div>
                                <div class="feature-text text-center">
                                    <!-- TITLE -->
                                    <h4 class="legend  text-center">Trades & Stocks</h4>
                                    <!-- TEXT -->
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, </p>
                                    <!-- BUTTON -->
                                    <a href="trades-stocks.html" class="btn-theme btn btn-hv-dark btn-md btn-rounded">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="boxed-layout padding">
                                <div class="feature-image text-center">
                                    <i class="icon-dark fa fa-pie-chart fa-3x"></i>
                                </div>
                                <div class="feature-text text-center">
                                    <!-- TITLE -->
                                    <h4 class="legend text-center">Taxes Advisory</h4>
                                    <!-- TEXT -->
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, </p>
                                    <!-- BUTTON -->
                                    <a href="taxes-advisory.html" class="btn-theme btn btn-hv-dark btn-md btn-rounded">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="boxed-layout padding">
                                <div class="feature-image text-center">
                                    <i class="icon-dark fa fa-stack-overflow fa-3x"></i>
                                </div>
                                <div class="feature-text text-center">
                                    <!-- TITLE -->
                                    <h4 class="legend  text-center">Mutual Funds</h4>
                                    <!-- TEXT -->
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, </p>
                                    <!-- BUTTON -->
                                    <a href="mutual-funds.html" class="btn-theme btn  btn-hv-dark btn-md btn-rounded">READ MORE</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.CONTAINER -->
        </section>
        <!-- CTA SECTION-->
        <section class="bg-image padding-sm  parallax-bg typo-light" data-stellar-background-ratio="0.5" data-background="images/content/case-studies/post-27-560x350.jpg" style="background-image: url(&quot;images/content/case studies/post-27-560x350.jpg&quot;); background-position: 50% -155.558px;">
            <div class="overlay-darker"></div>
            <div class="container">
                <div class="row">
                     <div class="col-md-12 text-center" data-animation="fadeInLeft">
                            <!-- TEXT  -->
                            <h2 class="top-padding-sm">We’ve provided financial services to clients for 20 years</h2>
							<a href="#" class="btn btn-lg btn-theme btn-square btn-hv-dark btn-hv-dark btn-default">View More</a>
                        </div>
                </div>
                <br>
            </div>
        </section>
        <!-- CLIENT SECTION -->
        <section id="testimonials" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- SECTION TITLE -->
                        <div class="section-title bottom-line text-center">
                            <!-- TITLE -->
                            <h3>What Clients Says?</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- CAROUSEL -->
                        <div class="owl-carousel nav-bottom top-bullet dots-dark dots-outer dots-mini" data-items="1" data-margin="40" data-loop="true" data-merge="true" data-nav="false" data-dots="false" data-stagepadding="" data-mobile="1" data-tablet="2" data-desktopsmall="2" data-desktop="2" data-autoplay="true" data-delay="3000">
                            <!-- TESTIMONIAL -->
                            <div class="item item-box light-bg client-says">
                                <div class="quote">
                                    <div class="quote-text">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    </div>
                                    <div class="client-bio">
                                        <!-- NAME  -->
                                        <h6>John Deo</h6>
                                        <!-- COMPANY  -->
                                        <span class="posi typo-lgrey">Yahoo</span>
                                    </div>
                                </div>
                            </div>
                            <!-- TESTIMONIAL -->
                            <div class="item item-box light-bg client-says">
                                <div class="quote">
                                    <div class="quote-text">
                                        <!-- QUOTE  -->
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    </div>
                                    <div class="client-bio">
                                        <!-- NAME  -->
                                        <h6>Rachel Moore</h6>
                                        <!-- COMPANY  -->
                                        <span class="posi typo-lgrey">Google</span>
                                    </div>
                                </div>
                            </div>
                            <!-- TESTIMONIAL -->
                            <div class="item item-box light-bg client-says">
                                <div class="quote">
                                    <div class="quote-text">
                                        <!-- QUOTE  -->
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    </div>
                                    <div class="client-bio">
                                        <!-- NAME  -->
                                        <h6>Michael Y</h6>
                                        <!-- COMPANY  -->
                                        <span class="posi typo-lgrey">Facebook</span>
                                    </div>
                                </div>
                            </div>
                            <!-- TESTIMONIAL -->
                            <div class="item item-box light-bg client-says">
                                <div class="quote">
                                    <div class="quote-text">
                                        <!-- QUOTE  -->
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    </div>
                                    <div class="client-bio">
                                        <!-- NAME  -->
                                        <h6>Sue San</h6>
                                        <!-- COMPANY  -->
                                        <span class="posi typo-lgrey">Bing</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /. CAROUSEL -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- CAROUSEL -->
                        <div class="owl-carousel nav-bottom top-bullet dots-dark dots-mini" data-items="2" data-margin="40" data-loop="true" data-merge="true" data-nav="false" data-dots="false" data-stagepadding="" data-mobile="3" data-tablet="4" data-desktopsmall="5" data-desktop="7" data-autoplay="false" data-delay="3000">
                            <!-- IMAGES -->
                            <div class="item"><img src="images/content/client/1.png" alt="" class="img-responsive" width="100" height="50"></div>
                            <div class="item"><img src="images/content/client/2.png" alt="" class="img-responsive" width="100" height="50"></div>
                            <div class="item"><img src="images/content/client/3.png" alt="" class="img-responsive" width="100" height="50"></div>
                            <div class="item"><img src="images/content/client/4.png" alt="" class="img-responsive" width="100" height="50"></div>
                            <div class="item"><img src="images/content/client/5.png" alt="" class="img-responsive" width="100" height="50"></div>
                            <div class="item"><img src="images/content/client/6.png" alt="" class="img-responsive" width="100" height="50"></div>
                            <div class="item"><img src="images/content/client/7.png" alt="" class="img-responsive" width="100" height="50"></div>
                            <div class="item"><img src="images/content/client/8.png" alt="" class="img-responsive" width="100" height="50"></div>
                            <div class="item"><img src="images/content/client/9.png" alt="" class="img-responsive" width="100" height="50"></div>
                            <div class="item"><img src="images/content/client/10.png" alt="" class="img-responsive" width="100" height="50"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- CTA -->
        <section id="why-choose" class="theme-bg bottom-padding-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 typo-light padding-sm bottom-margin-sm">
                        <!-- TITLE -->
                        <h4 class="parallax-title-1">Global Expansion Strategy Guides Financial Company</h4>
                        <div class="">
                            <p class="title-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quisquam, culpa, soluta hic aperiam porro ipsum nisi optio necessitatibus commodi dolorum ente voluptatem officiis similique maiores!</p>
                            <p class="title-description"> Et culpa dolore odio voluptate suscipit corporis sed ad sunt autem!</p>
                            <p class="title-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                        <!-- TEXT-->
                    </div>
                    <div class="col-md-6 col-sm-12 padding-sm bottom-margin-sm">
                        <div class="col-sm-12 play-video text-center">
                            <!-- VIDEO -->
                            <a href="https://www.youtube.com/" data-rel="prettyPhoto[vimeo]" title=""><img class="img-responsive img-rounded" src="images/content/blog/set3/post-30.jpg" alt="" width="750" height="500"><strong>PLAY VIDEO</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- CONTACT -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <address>
						<div class="feature-box style-3">
							<div class="icon-wrapper">
								<!-- ICON -->
								<i class="fa fa-map-marker"></i>
							</div>	
							<div class="inner-wrapper">
								<!-- ADDRESS -->
								<p class="feature-description">Zozotheme.com<br> No. 12, Ribbon Building,  <br>Walse street, Australia - 30001.</p>	
							</div>	
						</div>
						<div class="feature-box style-3">
							<div class="icon-wrapper">
								<!-- ICON -->
								<i class="fa fa-phone"></i>
							</div>	
							<div class="inner-wrapper">
								<!--  PHONE NUMBER -->
								<p class="feature-description"> +0 (123) 456-78-90</p>
							</div>	
						</div>
						<div class="feature-box style-3">
							<div class="icon-wrapper">
								<!-- ICON -->
								<i class="fa fa-fax"></i>
							</div>	
							<div class="inner-wrapper">
								<!--  PHONE NUMBER -->
								<p class="feature-description"> +0 (123) 456-78-90</p>
							</div>	
						</div>
						<div class="feature-box style-3">
							<div class="icon-wrapper">
								<!-- ICON -->
								<i class="fa fa-envelope"></i>
							</div>	
							<div class="inner-wrapper">
								<!-- EMAIL -->
								<p class="feature-description"><a class="active" href="mailto:info@website.com">support@zozothemes.com</a></p>
							</div>	
						</div>
						<div class="theme-bg typo-light top-margin-sm">
							<blockquote>We ensure quality & support. People love us & we love them
							</blockquote>
						</div>
						<div class="feature-box style-3">
							<div class="icon-wrapper">
								<!-- ICON -->
								<i class="fa fa-clock-o"></i>
							</div>	
							<div class="inner-wrapper">
								<!-- EMAIL -->
								<p class="feature-description">
									Mon - Sat 8.00 - 18.00<br>
									Sunday CLOSED
									</p>
							</div>	
						</div>
					</address>
                    </div>
                    <div class="col-sm-8">
                        <p class="form-message" style="display: none;"></p>
                        <div class="contact-form">
                            <!-- Form Begins -->
                            <form name="bootstrap-form" id="bootstrap-form" method="post" action="php/contact-form.php">
                                <!-- Field 1 -->
                                <div class="input-text form-group">
                                    <input type="text" name="contact_name" class="input-name form-control" placeholder="Full Name *" />
                                </div>
                                <!-- Field 2 -->
                                <div class="input-email form-group">
                                    <input type="email" name="contact_email" class="input-email form-control" placeholder="Email *" />
                                </div>
                                <!-- Field 3 -->
                                <div class="input-email form-group">
                                    <input type="text" name="contact_phone" class="input-phone form-control" placeholder="Phone *" />
                                </div>
                                <!-- Field 4 -->
                                <div class="textarea-message form-group">
                                    <textarea name="contact_message" class="textarea-message form-control" placeholder="Message *" rows="4"></textarea>
                                </div>
                                <!-- Button -->
                                <button class="btn btn-lg btn-theme btn-square btn-hv-dark btn-hv-dark btn-default" type="submit">SEND MESSAGE</button>
                            </form>
                            <!-- Form Ends -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- ADDRESS SECTION -->
        <!-- MAP SECTION -->
        <!--MAP-->
        <div style="height: 350px;" class="map-canvas" data-zoom="12" data-lat="-35.2835" data-lng="149.128" data-title="Autin" data-type="roadmap" data-hue="" data-content="Company Name&lt;br&gt; Contact: +012 (345) 6789&lt;br&gt; info@youremail.com"></div>
        <!-- MAP SECTION -->
    </div>
    <!-- FOOTER SECTION -->
    <footer id="footer" class="footer dark-bg">
        <div class="footer-top">
            <div class="container">
                <div class="row bg-no-repeat background-position-left">
                    <div class="col-md-3 col-sm-6">
                        <!-- LOGO -->
                        <img src="images/logo1.png" alt="logo" width="155" height="25">
                        <br>
                        <p>FinTheme is a superbly innovative, robustly reliable, clean-coded and feature rich WordPress theme with powerful administration settings. It is easy to customize for all kinds of financial companies.</p>

                        <div class="feature-box no-bottom-margin style-3">
                            <div class="icon-wrapper">
                                <!-- ICON -->
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="inner-wrapper">
                                <!--  PHONE NUMBER -->
                                <p class="feature-description"> - +44 123 4567</p>
                            </div>
                        </div>
                        <div class="feature-box style-3">
                            <div class="icon-wrapper">
                                <!-- ICON -->
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="inner-wrapper">
                                <!-- EMAIL -->
                                <p class="feature-description"><a class="" href="mailto:info@website.com"> - info@fintheme.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <!-- WIDGET -->
                        <h5 class="widget-title text-style text-uppercase">Services</h5>
                        <!-- LIST -->
                        <ul class="list-unstyled">
                            <li class="bottom-margin-vsm"><a href="market-strategy.html">Market Strategy</a>
                            </li> <li class="bottom-margin-vsm"><a href="trades-stocks.html">Trades & Stocks</a>
                            </li>
                            <li class="bottom-margin-vsm"><a href="strategic-planning.html">Strategic Planning</a>
                            </li>
                            <li class="bottom-margin-vsm"><a href="investment-planning.html">Investment planning</a>
                            </li>
                            <li class="bottom-margin-vsm"><a href="taxes-advisory.html">Taxes Advisory</a>
                            </li>
                            <li class="bottom-margin-vsm"><a href="mutual-funds.html">Mutual Funds</a>
                            </li>
                            <li class="bottom-margin-vsm"><a href="retaining-planning.html">Retaining Planning</a>
                            </li>
                            <li class="bottom-margin-vsm"><a href="charities.html">charities</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6 recent-block">
                        <h5 class="widget-title text-style left-padding-sm text-uppercase">Latest News</h5>
                         <ul class="list-unstyled left-padding-sm">
                                <li><a href="secrets-about-investment-they-are-still-keeping-from-you.html"><span class="icons fa fa-minus"></span>Secrets About Investment They Are Still Keeping From You </a>
                                </li>
                                <li>December 12, 2016</li>
                                <li><a href="marketing-strategy-secrets-revealed.html"><span class="icons fa fa-minus"></span>Marketing Strategy Secrets Revealed</a>
                                </li>
                                <li>December 12, 2016</li>
                                <li><a href="business-plan-strategies-for-the-entrepreneurially-challenged.html"><span class="icons fa fa-minus"></span>Business Plan Strategies For The Entrepreneurially Challenged</a>
                                </li>
                                <li>December 12, 2016</li>
                            </ul>
                    </div>
                    <div class="col-md-3 col-sm-6  footer-widgets">
                        <!-- NEWSLETTER -->
                        <h5 class="widget-title text-style text-uppercase">Newsletter Signup</h5>
                        <p>Sign up for new FinTheme content, updates, surveys & offers. </p>
                        <p class="form-message1" style="display: none;"></p>
                        <form class="input-group form-flat form-theme padding-top-10 bv-form" name="subscribe-form" method="post" action="php/subscription.php" id="subscribe-form" novalidate="novalidate">
                            <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                            <div class="form-group has-feedback">
                                <input class="form-control typo-light" placeholder="Enter Your Email" value="" name="subscribe_email" data-bv-field="subscribe_email" type="email"><i style="display: none;" class="form-control-feedback bv-no-label" data-bv-icon-for="subscribe_email"></i>
                                <small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Email is required. Please enter email.</small><small style="display: none;" class="help-block" data-bv-validator="emailAddress" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Please enter a correct email address.</small>
                            </div>
                            <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="flaticon-next-1 fa"></i></button></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom footer-top-border">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="copyright">
                                &copy; Copy Right 2017  All Rights Reserved.
                                <ul class="footer-bottom-links text-uppercase">
                                    <li><a href="http://catchpixel.com/" target="_blank">Crafted By CatchPixel</a></li>
                                </ul>
                            </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <!-- SOCIAL SHARE -->
                        <ul class="footer-social-icons">
                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook text-darkest social-facebook-hvcolor"></i></a></li>
                            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter text-darkest social-twitter-hvcolor"></i></a></li>
                            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin text-darkest social-linkedin-hvcolor"></i></a></li>
                            <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest text-darkest social-pinterest-hvcolor"></i></a></li>
                            <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus text-darkest social-google-plus-hvcolor"></i></a></li>
                            <li class="youtube"><a href="#" target="_blank"><i class="fa fa-youtube text-darkest social-youtube-hvcolor"></i></a></li>
                            <li class="dribbble"><a href="#" target="_blank"><i class="fa fa-dribbble text-darkest social-dribbble-hvcolor"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" id="back-to-top" title="Back to top"></a>
    <!-- FOOTER SECTION -->
    </div>
    <!-- /. PAGE WRAPPER -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/jquery.appear.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/count-to.js"></script>
    <script type="text/javascript" src="js/google.map.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>