<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
    <!-- Latest IE rendering engine & Chrome Frame Meta Tags -->
    <!--[if IE]>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <![endif]-->
    <!-- TITLE-->
    <title>FinTheme</title>
    <!-- Favicon -->

    <!-- GOOGLE FONTS
            ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link rel="stylesheet" id="google-fonts-zozo_options-css" href="http://fonts.googleapis.com/css?family=Hind%3A300%2C400%2C500%2C600%2C700%7CRaleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%2C100italic%2C200italic%2C300italic%2C400italic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic" type="text/css" media="all">

    <!-- CSS BEGINS 
            ================================================== -->
    <!-- ELEMENTS BASE CSS -->
    <link href="css/elements.min.css" rel="stylesheet" type="text/css" />
    <!-- THEME BASE CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- COLOR SCHEME -->
    <link href="css/colors/color1.css" id="changeable-colors" rel="stylesheet" />
    <!-- CSS ENDS   
		 	 ================================================== -->
</head>

<body>
    <!-- Page Loader -->
    <div id="pageloader">
        <div class="loader-inner">
            <img src="images/base/loader.gif" alt="">
        </div>
    </div>
    <!-- PAGE WRAPPER -->
    <div id="page-wrapper" class="header-dropdown-light">
        <div class="content-wrapper" id="section-top">
            <!-- HEADER -->
            <header class="header-details-toggle header-dark header-transparent header-top-transparent header-sticky-dark">
                <!-- STICKY WRAPPER -->
                <div id="sticker" class="header-main sticky-navigation">
                    <nav class="navbar navbar-default fixed">
                        <div class="container">
                            <!-- TOGGLE ICON -->
                            <div class="navbar-header">
                                <a class="navbar-toggle" href="#nav-menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span> </a>
                                <!-- LOGO & LOGO STICKY  -->
                                <a class="navbar-brand" href="index.html"><img src="images/logo1.png" alt="logo" width="155" height="25"><img src="images/logo1.png" class="sticky-logo" alt="logo" width="155" height="25"> </a>                            </div>
                            <!-- /. TOGGLE ICON -->
                            <!-- EXTRA NAV (FOR ELEMENTS) -->
                            <div id="extra-nav" class="extra-nav">
                                <ul class="nav navbar-nav navbar-right">
                                    <!-- TOGGLR SEARCH -->
                                    <li class="dropdown search-dropdown">
                                        <a id="search-toggle" class="header-toggle-icon" href="#"> <span class="flaticon-magnifying-glass"></span>
                                        </a>
                                    </li>
                                    <!-- /. TOGGLR SEARCH -->
                                    <li id="extra-toggle-search" class="theme-bg header-toggle-content">
                                        <div class="container">
                                            <form>
                                                <input type="text" class="form-control typo-light" id="search-form" name="search-form" placeholder="TYPE AND HIT ENTER..">
                                                <a id="toggle-close-search" class="toggle-close" href="#"><span class="fa fa-times text-style"></span></a>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /. EXTRA NAV (FOR ELEMENTS) -->
                            <!-- MAIN MENU -->
                            <div id="nav-menu">
                                <ul class="nav navbar-nav navbar-right navbar hover-dropdown scroll">
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="#section-top" class="active dropdown-toggle">Home</a>
                                    </li>
                                    <!-- MENU -->
                                    <!-- MEGA MENU -->
                                    <li class="dropdown">
                                        <a href="#about-us" class="dropdown-toggle scroll">About</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#services" class="dropdown-toggle scroll">Service</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#team" class="dropdown-toggle scroll">Team</a>
                                    </li>
                                    <!-- DROPDOWN -->
                                    <li class="dropdown"><a href="#events" class="dropdown-toggle scroll">Events</a>
                                    </li>
                                    <!-- MENU -->
                                    <!-- MEGA MENU -->
                                    <li class="dropdown mega-dropdown"><a href="#contact" class="dropdown-toggle scroll">Contact Us</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- /. MAIN MENU -->
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
                <!-- /. STICKY WRAPPER -->
            </header>
            <!-- /. HEADER -->

            <!-- Slider -->
            <section class="parallax-bg bg-fixed bg-image slider-section single-screen bg-no-repeat typo-light" data-background="images/content/slider/43.jpg">
                <!-- ITEM  -->
                <div class="top-padding bottom-padding-lg">
                    <div class="container slider-content text-center">
                        <!-- TITLE  -->
                        <h1 style="text-align: center;font-family:Raleway;font-weight:800;font-style:normal">Finance & Consulting WordPress Theme</h1>
                        <div class="top-margin bottom-padding-sm slider-title">
                            <!-- TEXT  -->
                            <h4>Since 1995, we've provided financial guidance to organizations and individuals,<br>to help turn their financial goals into reality..</h4>
                            <!-- BUTTON  -->
                        </div>
                        <p>
                            <button class="btn btn-md btn-hv-dark  btn-default">Our Service</button>
                        </p>
                    </div>
                </div>

            </section>
            <section id="about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-11 text-center">
                            <!-- SECTION TITLE -->
                            <div class="section-title">
                                <h3 class="parallax-title">Welcome to FinTheme</h3>
                                <div class="bottom-pad">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. soluta hic aperiam porro ipsum nisi optio
                                        <br> necessitatibus commodi dolorum ente voluptatem officiis similique maiores! </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- IMAGE -->
                            <img class="img-responsive" src="images/content/others/about-img.jpg" alt="" width="600" height="700" />
                        </div>
                        <div class="col-md-6 left-padding-sm">
                            <div class="parallax-title">
                                <h6>We Are Leader In</h6>
                                <h4 class="section-titles">Financial consultancy</h4>
                            </div>
                            <p class="bottom-padding-sm">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- FEATURE BOX -->
                                    <div class="feature-box hv-wrapper">
                                        <div class="feature-inner-wrapper">
                                            <div class="feature-title">
                                                <!-- FEATURE TITLE -->
                                                <h4><i class="flaticon-glasses fa  fa-sm"></i> Our Vision</h4>
                                            </div>
                                        </div>
                                        <!-- FEATURE DESCRIPTION -->
                                        <p class="feature-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                                    </div>
                                    <!-- /.FEATURE BOX -->
                                </div>
                                <div class="col-md-6">
                                    <!-- FEATURE BOX -->
                                    <div class="feature-box hv-wrapper">
                                        <div class="feature-inner-wrapper">
                                            <div class="title-wrapper">
                                                <!-- FEATURE TITLE -->
                                                <h4 class="feature-title"><i class="flaticon-transport-2 fa "></i> Our Mission</h4>
                                            </div>
                                        </div>
                                        <!-- FEATURE DESCRIPTION -->
                                        <p class="feature-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum..</p>
                                    </div>
                                    <!-- /.FEATURE BOX -->
                                </div>
                                <div class="col-md-6">
                                    <!-- FEATURE BOX -->
                                    <div class="feature-box hv-wrapper">
                                        <div class="feature-inner-wrapper">
                                            <div class="title-wrapper">
                                                <!-- FEATURE TITLE -->
                                                <h4 class="feature-title"><i class="flaticon-heart fa "></i> Our Values</h4>
                                            </div>
                                        </div>
                                        <!-- FEATURE DESCRIPTION -->
                                        <p class="feature-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                                    </div>
                                    <!-- /.FEATURE BOX -->
                                </div>
                                <div class="col-md-6">
                                    <!-- FEATURE BOX -->
                                    <div class="feature-box hv-wrapper">
                                        <div class="feature-inner-wrapper">
                                            <div class="title-wrapper">
                                                <!-- FEATURE TITLE -->
                                                <h4 class="feature-title"><i class="flaticon-book-2 fa"></i> Our Policies</h4>
                                            </div>
                                        </div>
                                        <!-- FEATURE DESCRIPTION -->
                                        <p class="feature-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                                    </div>
                                    <!-- /.FEATURE BOX -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
			<!-- CTA SECTION -->
            <section class="bg-image bg-fixed bottom-padding-md parallax-bg typo-light" data-stellar-background-ratio="0.5" data-background="images/content/bg/elements/16.jpg">
                <div class="overlay-darker"></div>
                <div class="container text-left">
                    <div class="row">
                        <div class="col-md-5 col-sm-6">
                            <!-- TITLE -->
                            <h4 class="font-weight-bold"> WE ARE <span class="text-primary">PASSIONATE</span> ABOUT OUR WORK</h4>
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <!-- TEXT -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et culpa dolore odio voluptate suscipit corporis sed ad sunt autem! </p>
                        </div>
                    </div>
                    <div class="row top-padding-sm">
                        <div class="col-md-3 col-xs-6">
                            <div class="text-center counter-wrapper hv-wrapper ">
                                <!-- COUNTER NUMBER -->
                                <div data-count="1250" class="number-counter "><span class="counter"></span></div>
                                <!-- COUNTER TITLE -->
                                <h5 class="text-grey">Branches</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="text-center counter-wrapper hv-wrapper">
                                <!-- COUNTER NUMBER -->
                                <div data-count="599" class="number-counter"><span class="counter"></span></div>
                                <!-- COUNTER TITLE -->
                                <h5 class="text-grey">Projects</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="text-center counter-wrapper hv-wrapper">
                                <!-- COUNTER NUMBER -->
                                <div data-count="822" class="number-counter"><span class="counter"></span></div>
                                <!-- COUNTER TITLE -->
                                <h5 class="text-grey">Awards</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="text-center counter-wrapper hv-wrapper">
                                <!-- COUNTER NUMBER -->
                                <div data-count="4766" class="number-counter"><span class="counter"></span></div>
                                <!-- COUNTER TITLE -->
                                <h5 class="text-grey">clients</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- SERVICE SECTION -->
			<!-- SERVICE SECTION -->
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <!-- TEXT  -->
                        <h2 class="bottom-line text-uppercase">OUR SERVICE</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="col-md-3 col-sm-6 ">
                            <div class="boxed-layout padding">
                                <div class="feature-image text-center">
                                    <i class="icon-dark fa-clock-o fa fa-3x"></i>
                                </div>
                                <div class="feature-text text-center">
                                    <!-- TITLE -->
                                    <h4 class="legend  text-center">Market Strategy</h4>
                                    <!-- TEXT -->
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, </p>
                                    <!-- BUTTON -->
                                    <a href="market-strategy.html" class="btn-theme btn  btn-hv-dark btn-md btn-rounded">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class=" boxed-layout padding">
                                <div class="feature-image text-center">
                                    <i class="icon-dark fa fa-gg fa-3x"></i>
                                </div>
                                <div class="feature-text text-center">
                                    <!-- TITLE -->
                                    <h4 class="legend  text-center">Trades & Stocks</h4>
                                    <!-- TEXT -->
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, </p>
                                    <!-- BUTTON -->
                                    <a href="trades-stocks.html" class="btn-theme btn btn-hv-dark btn-md btn-rounded">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="boxed-layout padding">
                                <div class="feature-image text-center">
                                    <i class="icon-dark fa fa-pie-chart fa-3x"></i>
                                </div>
                                <div class="feature-text text-center">
                                    <!-- TITLE -->
                                    <h4 class="legend  text-center">Taxes Advisory</h4>
                                    <!-- TEXT -->
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, </p>
                                    <!-- BUTTON -->
                                    <a href="taxes-advisory.html" class="btn-theme btn btn-hv-dark btn-md btn-rounded">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="boxed-layout padding">
                                <div class="feature-image text-center">
                                    <i class="icon-dark fa fa-stack-overflow fa-3x"></i>
                                </div>
                                <div class="feature-text text-center">
                                    <!-- TITLE -->

                                    <h4 class="legend  text-center">Mutual Funds</h4>
                                    <!-- TEXT -->
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, </p>
                                    <!-- BUTTON -->
                                    <a href="mutual-funds.html" class="btn-theme btn btn-hv-dark btn-md btn-rounded">READ MORE</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.CONTAINER -->
        </section>
		<!-- CTA -->
            <section class="theme-bg top-padding-sm no-bottom-padding typo-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 bottom-padding-sm" data-animation="fadeInLeft">
                            <!-- TEXT  -->
                            <h2 class="section-block text-center">We've provided financial services to clients for 20 years</h2>
                        </div>
                    </div>
                </div>
            </section>
		<!-- /*CTA -->
		<section id="team" class="light-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center bottom-padding-md">
                            <!-- TITLE -->
							<div class="section-title">
								<h3 class="parallax-title">Testimonials</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quisquam, culpa, soluta hic aperiam porro ipsum nisi optio
									<br>necessitatibus commodi dolorum ente voluptatem officiis similique maiores!</p>
                        	</div>	
						</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- CAROUSEL -->
                            <div class="owl-carousel nav-bottom top-bullet dots-dark dots-outer dots-mini" data-items="1" data-margin="40" data-loop="true" data-merge="true" data-nav="false" data-dots="true" data-stagepadding="" data-mobile="1" data-tablet="2" data-desktopsmall="3" data-desktop="3" data-autoplay="true" data-delay="3000">
                                <!-- TESTIMONIAL -->
                                <div class="item client-says  text-center">
                                    <div class="no-bottom-padding icon-wrapper team-item-img">
                                        <!-- ICON -->
                                        <img class=" img-responsive img-circle" src="images/content/client/client-3.jpg" width="85" height="85" alt="1">
                                    </div>
                                    <div class="testimonial-content">
                                        <h5 class="member-details typo-dark">Mike Richards <span class="typo-dgrey occupation">CEO <span class="typo-dark">Veliocon</span></span></h5>
                                        <p class="member-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                    </div>

                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item client-says text-center">
                                    <div class="icon-wrapper team-item-img">
                                        <!-- ICON -->
                                        <img class=" img-responsive img-circle" src="images/content/client/client-5.jpg" width="85" height="85" alt="2">
                                    </div>
                                    <div class="testimonial-content">
                                        <h5 class="member-details">Selena Gomez <span class=" typo-dgrey occupation">Operational Director <span class="typo-dark"> Simonua</span></span></h5>
                                        <p class="member-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                    </div>

                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item client-says text-center">
                                    <div class="icon-wrapper team-item-img">
                                        <!-- ICON -->
                                        <img class="img-responsive img-circle" src="images/content/client/client-2.jpg" width="85" height="85" alt="3">
                                    </div>
                                    <div class="testimonial-content">
                                        <h5 class="member-details">Jessica Smith <span class="typo-dgrey occupation">Managing Director<span class="typo-dark"> Ricotech</span></span></h5>
                                        <p class="member-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                    </div>

                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item client-says text-center">
                                    <div class="icon-wrapper team-item-img">
                                        <!-- ICON -->
                                        <img class="img-responsive img-circle" src="images/content/client/client-1.jpg" width="85" height="85" alt="4">
                                    </div>
                                    <div class="testimonial-content">
                                        <h5 class="member-details">John Deo <span class="typo-dgrey occupation">Consultant <span class="typo-dark"> Wandigo</span></span></h5>
                                        <p class="member-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                    </div>

                                </div>
                            </div>
                            <!-- /. CAROUSEL -->
                        </div>
                    </div>
                </div>
            </section>
			<!-- EVENTS SECTION -->
			 <section id="events">
				<div class="container">
					<div class="row">
						<div class="col-md-10 bottom-padding-sm">
							<!-- TEXT  -->
							<h2 class="bottom-line text-uppercase">Letest News</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4 text-center">
							<div class=" feature-box style-6 rounded white-bg no-top-margin no-bottom-margin">
								<!-- IMAGE -->
								<div class="feature-image">
									<img class="img-responsive" src="images/content/services/set3/post-21.jpg" width="560" height="360" alt="image11">
	
								</div>
								<div class="feature-text text-center">
									<!-- TITLE -->
									<h4 class="legend"><a href="Market-Strategy.html">Market Strategy</a></h4>
									<!-- TEXT -->
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, </p>
									<!-- BUTTON -->
									<a href="Market-Strategy.html" class="btn-theme btn btn-hv-dark btn-md btn-rounded"> READ MORE </a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 text-center">
							<div class=" feature-box style-6 rounded white-bg no-top-margin no-bottom-margin">
								<!-- IMAGE -->
								<div class="feature-image">
									<img class="img-responsive" src="images/content/services/set3/post-6.jpg" width="560" height="360" alt="image-4" />
	
								</div>
								<div class="feature-text text-center">
									<!-- TITLE -->
									<h4 class="legend"><a href="investment-planning.html">InvestmentPlanning</a></h4>
									<!-- TEXT -->
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, </p>
									<!-- BUTTON -->
									<a href="investment-planning.html" class="btn-theme btn btn-hv-dark btn-md btn-rounded"> READ MORE </a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 text-center">
							<div class=" feature-box style-6 rounded white-bg no-top-margin no-bottom-margin">
								<!-- IMAGE -->
								<div class="feature-image ">
									<img class="img-responsive" src="images/content/services/set3/post-7.jpg" width="560" height="360" alt="image-5" />
	
								</div>
								<div class="feature-text text-center">
									<!-- TITLE -->
									<h4 class="legend"><a href="taxes-advisory.html">Taxes Advisory</a></h4>
									<!-- TEXT -->
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, </p>
									<!-- BUTTON -->
									<a href="taxes-advisory.html" class="btn-theme btn btn-hv-dark btn-md btn-rounded"> READ MORE </a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.CONTAINER -->
			</section>
			 <!-- CONTACT -->
			 <!-- MAP SECTION -->
        <!--MAP-->
        <div id="contact" style="height: 350px;" class="map-canvas bottom-margin-md" data-zoom="12" data-lat="-35.2835" data-lng="149.128" data-title="Autin" data-type="roadmap" data-hue="" data-content="Company Name&lt;br&gt; Contact: +012 (345) 6789&lt;br&gt; info@youremail.com"></div>
        <!-- MAP SECTION -->
        <section  class="top-padding-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <address>
						<div class="feature-box style-3">
							<div class="icon-wrapper">
								<!-- ICON -->
								<i class="fa fa-map-marker"></i>
							</div>	
							<div class="inner-wrapper">
								<!-- ADDRESS -->
								<p class="feature-description">Zozotheme.com<br> No. 12, Ribbon Building,  <br>Walse street, Australia - 30001.</p>	
							</div>	
						</div>
						<div class="feature-box style-3">
							<div class="icon-wrapper">
								<!-- ICON -->
								<i class="fa fa-phone"></i>
							</div>	
							<div class="inner-wrapper">
								<!--  PHONE NUMBER -->
								<p class="feature-description"> +0 (123) 456-78-90</p>
							</div>	
						</div>
						<div class="feature-box style-3">
							<div class="icon-wrapper">
								<!-- ICON -->
								<i class="fa fa-fax"></i>
							</div>	
							<div class="inner-wrapper">
								<!--  PHONE NUMBER -->
								<p class="feature-description"> +0 (123) 456-78-90</p>
							</div>	
						</div>
						<div class="feature-box style-3">
							<div class="icon-wrapper">
								<!-- ICON -->
								<i class="fa fa-envelope"></i>
							</div>	
							<div class="inner-wrapper">
								<!-- EMAIL -->
								<p class="feature-description"><a class="active" href="mailto:info@website.com">support@zozothemes.com</a></p>
							</div>	
						</div>
						<div class="theme-bg typo-light top-margin-sm">
							<blockquote>We ensure quality & support. People love us & we love them
							</blockquote>
						</div>
						<div class="feature-box style-3">
							<div class="icon-wrapper">
								<!-- ICON -->
								<i class="fa fa-clock-o"></i>
							</div>	
							<div class="inner-wrapper">
								<!-- EMAIL -->
								<p class="feature-description">
									Mon - Sat 8.00 - 18.00<br>
									Sunday CLOSED
									</p>
							</div>	
						</div>
					</address>
                    </div>
                    <div class="col-sm-8">
                        <p class="form-message" style="display: none;"></p>
                        <div class="contact-form">
                            <!-- Form Begins -->
                            <form name="bootstrap-form" id="bootstrap-form" method="post" action="php/contact-form.php">
                                <!-- Field 1 -->
                                <div class="input-text form-group">
                                    <input type="text" name="contact_name" class="input-name form-control" placeholder="Full Name *" />
                                </div>
                                <!-- Field 2 -->
                                <div class="input-email form-group">
                                    <input type="email" name="contact_email" class="input-email form-control" placeholder="Email *" />
                                </div>
                                <!-- Field 3 -->
                                <div class="input-email form-group">
                                    <input type="text" name="contact_phone" class="input-phone form-control" placeholder="Phone *" />
                                </div>
                                <!-- Field 4 -->
                                <div class="textarea-message form-group">
                                    <textarea name="contact_message" class="textarea-message form-control" placeholder="Message *" rows="4"></textarea>
                                </div>
                                <!-- Button -->
                                <button class="btn btn-lg btn-theme btn-square btn-hv-dark btn-hv-dark btn-default" type="submit">SEND MESSAGE</button>
                            </form>
                            <!-- Form Ends -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- ADDRESS SECTION -->
   
				<!-- /.GRID SECTION -->
				<section class="theme-bg top-padding-sm no-bottom-padding typo-light">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="text-center" data-animation="fadeInLeft">
									<ul class="list-inline">
										<li>
											<h2 class="section-titles">Get A Free Quote / Need a Help ?</h2></li>
										<li class="left-padding-sm"><a class="btn btn-sm btn-light btn-hv-light btn-rounded btn-default" href="contact-us.html"> Contact Now</a></li>
									</ul>
	
								</div>
							</div>
						</div>
					</div>
				</section> 
			</div>
	       <!-- FOOTER SECTION -->
        <footer id="footer" class="footer dark-bg">
            <div class="footer-top">
                <div class="container">
                    <div class="row bg-no-repeat background-position-left">
                        <div class="col-md-3 col-sm-6">
                            <!-- LOGO -->
                            <img src="images/logo1.png" alt="logo" width="155" height="25">
                            <br>
                            <p>FinTheme is a superbly innovative, robustly reliable, clean-coded and feature rich WordPress theme with powerful administration settings. It is easy to customize for all kinds of financial companies.</p>

                            <div class="feature-box no-bottom-margin style-3">
                                <div class="icon-wrapper">
                                    <!-- ICON -->
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="inner-wrapper">
                                    <!--  PHONE NUMBER -->
                                    <p class="feature-description"> - +44 123 4567</p>
                                </div>
                            </div>
                            <div class="feature-box style-3">
                                <div class="icon-wrapper">
                                    <!-- ICON -->
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="inner-wrapper">
                                    <!-- EMAIL -->
                                    <p class="feature-description"><a class="" href="mailto:info@website.com"> - info@fintheme.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <!-- WIDGET -->
                            <h5 class="widget-title text-style text-uppercase">Services</h5>
                            <!-- LIST -->
                            <ul class="list-unstyled">
                                <li class="bottom-margin-vsm"><a href="market-strategy.html">Market Strategy</a>
                                </li> <li class="bottom-margin-vsm"><a href="trades-stocks.html">Trades & Stocks</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="strategic-planning.html">Strategic Planning</a>
								</li>
								<li class="bottom-margin-vsm"><a href="investment-planning.html">Investment planning</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="taxes-advisory.html">Taxes Advisory</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="mutual-funds.html">Mutual Funds</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="retaining-planning.html">Retaining Planning</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="charities.html">charities</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6 recent-block">
                            <h5 class="widget-title text-style left-padding-sm text-uppercase">Latest News</h5>
                             <ul class="list-unstyled left-padding-sm">
                                <li><a href="secrets-about-investment-they-are-still-keeping-from-you.html"><span class="icons fa fa-minus"></span>Secrets About Investment They Are Still Keeping From You </a>
                                </li>
                                <li>December 12, 2016</li>
                                <li><a href="marketing-strategy-secrets-revealed.html"><span class="icons fa fa-minus"></span>Marketing Strategy Secrets Revealed</a>
                                </li>
                                <li>December 12, 2016</li>
                                <li><a href="business-plan-strategies-for-the-entrepreneurially-challenged.html"><span class="icons fa fa-minus"></span>Business Plan Strategies For The Entrepreneurially Challenged</a>
                                </li>
                                <li>December 12, 2016</li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6  footer-widgets">
                            <!-- NEWSLETTER -->
                            <h5 class="widget-title text-style text-uppercase">Newsletter Signup</h5>
                            <p>Sign up for new FinTheme content, updates, surveys & offers. </p>
                            <p class="form-message1" style="display: none;"></p>
                            <form class="input-group form-flat form-theme padding-top-10 bv-form" name="subscribe-form" method="post" action="php/subscription.php" id="subscribe-form" novalidate="novalidate">
                                <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                <div class="form-group has-feedback">
                                    <input class="form-control typo-light" placeholder="Enter Your Email" value="" name="subscribe_email" data-bv-field="subscribe_email" type="email"><i style="display: none;" class="form-control-feedback bv-no-label" data-bv-icon-for="subscribe_email"></i>
                                    <small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Email is required. Please enter email.</small><small style="display: none;" class="help-block" data-bv-validator="emailAddress" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Please enter a correct email address.</small>
                                </div>
                                <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="flaticon-next-1 fa"></i></button></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom footer-top-border">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                &copy; Copy Right 2017  All Rights Reserved.
                                <ul class="footer-bottom-links text-uppercase">
                                    <li><a href="http://catchpixel.com/" target="_blank">Crafted By CatchPixel</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <!-- SOCIAL SHARE -->
                            <ul class="footer-social-icons">
                                <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook text-darkest social-facebook-hvcolor"></i></a></li>
                                <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter text-darkest social-twitter-hvcolor"></i></a></li>
                                <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin text-darkest social-linkedin-hvcolor"></i></a></li>
                                <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest text-darkest social-pinterest-hvcolor"></i></a></li>
                                <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus text-darkest social-google-plus-hvcolor"></i></a></li>
                                <li class="youtube"><a href="#" target="_blank"><i class="fa fa-youtube text-darkest social-youtube-hvcolor"></i></a></li>
                                <li class="dribbble"><a href="#" target="_blank"><i class="fa fa-dribbble text-darkest social-dribbble-hvcolor"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a href="#" id="back-to-top" title="Back to top"></a>
        <!-- FOOTER SECTION -->
    </div>
    <!-- /. PAGE WRAPPER -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
	<script type="text/javascript" src="js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/jquery.appear.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/count-to.js"></script>
    <script type="text/javascript" src="js/google.map.js"></script>
    <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>