<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
    <!-- Latest IE rendering engine & Chrome Frame Meta Tags -->
    <!--[if IE]>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <![endif]-->
    <!-- TITLE-->
    <title>VSG</title>
    <!-- Favicon -->

    <!-- GOOGLE FONTS
            ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" id="google-fonts-zozo_options-css" href="http://fonts.googleapis.com/css?family=Roboto type="text/css" media="all">

    <!-- CSS BEGINS 
            ================================================== -->
    <!-- ELEMENTS BASE CSS -->
    <link href="css/elements.min.css" rel="stylesheet" type="text/css" />
    <!-- THEME BASE CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- COLOR SCHEME -->
    <link href="css/colors/color1.css" id="changeable-colors" rel="stylesheet" />
    <!-- CSS ENDS   
		 	 ================================================== -->
</head>

<body>
    <!-- Page Loader -->
    <div id="pageloader">
        <div class="loader-inner">
            <img src="images/base/loader.gif" alt="">
        </div>
    </div>
    <!-- PAGE WRAPPER -->
    <div id="page-wrapper" class="header-dropdown-light">
        <div class="content-wrapper">
            <!-- HEADER -->
            <header class="header-details-toggle header-dark header-transparent header-top-transparent header-sticky-dark">
                <!-- STICKY WRAPPER -->
                <div id="sticker" class="header-main sticky-navigation">
                    <nav class="navbar navbar-default fixed">
                        <div class="container">
                            <!-- TOGGLE ICON -->
                            <div class="navbar-header">
                                <a class="navbar-toggle" href="#nav-menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span> </a>
                                <!-- LOGO & LOGO STICKY  -->
                                <a class="navbar-brand" href="index.html"><img src="images/logo1.png" alt="logo"><img src="images/logo1.png" class="sticky-logo" alt="logo" width="155" height="25"> </a>
                            </div>
                            <!-- /. TOGGLE ICON -->
                            <!-- EXTRA NAV (FOR ELEMENTS) -->
                            <div id="extra-nav" class="extra-nav">
                                <ul class="nav navbar-nav navbar-right">
                                    <!-- TOGGLR SEARCH -->
                                    <li class="dropdown search-dropdown">
                                        <a id="search-toggle" class="header-toggle-icon" href="#"> <span class="flaticon-magnifying-glass"></span>
                                        </a>
                                    </li>
                                    <!-- /. TOGGLR SEARCH -->
                                    <li id="extra-toggle-search" class="theme-bg header-toggle-content">
                                        <div class="container">
                                            <form>
                                                <input type="text" class="form-control typo-light" id="search-form" name="search-form" placeholder="TYPE AND HIT ENTER..">
                                                <a id="toggle-close-search" class="toggle-close" href="#"><span class="fa fa-times text-style"></span></a>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /. EXTRA NAV (FOR ELEMENTS) -->
                            <!-- MAIN MENU -->
                            <div id="nav-menu">
                                <ul class="nav navbar-nav navbar-right">
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="index.html">Home </a>
                                        <!-- 
                                        <a href="index.html">Home <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index2.html">Home Layout 2</a></li>
                                            <li><a href="index3.html">Home Layout 3</a></li>
                                            <li><a href="index4.html">Home Layout 4</a></li>
											<li><a href="index5.html">Home Layout 5</a></li>
											<li><a href="index6.html">Home Layout 6</a></li>
											<li><a href="one-page-demo.html">One Page Demo</a></li>
                                        </ul>
                                    -->
                                    </li>
                                    <!-- MENU -->
                                    <!-- MEGA MENU -->
                                    <li class="dropdown">
                                        <a href="about.html">About<span class="caret"></span></a>
                                        <!-- MEGA MENU WRAPPER -->
                                        <ul class="dropdown-menu">
                                            <li class="extra-link"><a href="our-business.html" class="sub-menu">Our Business</a>
                                            </li>
                                            <li><a href="our-history.html">Our History</a>
                                            </li>
                                            <li><a href="our-awards.html">Our Awards</a>
                                            </li>
                                            <li><a href="our-vision-and-values.html">Our Vision and Values</a>
                                            </li>
                                            <li><a href="our-team.html">Our Team</a>
                                            </li>
                                            <li><a href="corporate-social-responsibility.html">Corporate Social Responsibility</a>
                                            </li>
                                            <li><a href="careers.html">Careers</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <!-- MEGA MENU -->
                                    <li class="dropdown">
                                        <a href="services.html">Service<span class="caret"></span></a>
                                        <!-- DROPDOWN MENU -->
                                        <ul class="dropdown-menu">
                                            <li><a href="market-strategy.html">Market Strategy</a>
                                            </li>
                                            <li><a href="trades-stocks.html">Trades & Stocks</a>
                                            </li>
                                            <li><a href="strategic-planning.html">Strategic Planning</a
                                            ></li>
                                            <li><a href="investment-planning.html">Investment planning</a>
                                            </li>
                                            <li><a href="taxes-advisory.html">Taxes Advisory</a>
                                            </li>
                                            <li><a href="mutual-funds.html">Mutual Funds</a>
                                            </li>
                                            <li><a href="retaining-planning.html">Retaining Planning</a>
                                            </li>
                                            <li><a href="charities.html">charities</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- MENU -->
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="blog-resources.html">Blog &amp; Resources<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="blog-resources.html">Blog</a>
                                            </li>
                                            <li><a href="case-studies.html">Case studies</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- DROPDOWN -->
                                    <li class="dropdown"><a href="events.html">Events</a>
                                    </li>
                                    <!-- MENU -->
                                    <!-- MEGA MENU -->
                                    <li class="dropdown mega-dropdown scroll"><a href="contact-us.html">Contact Us</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- /. MAIN MENU -->
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
                <!-- /. STICKY WRAPPER -->
            </header>
            <!-- /. HEADER -->

            <!-- Slider -->
            <section class="parallax-bg bg-fixed bg-image slider-section single-screen bg-no-repeat typo-light" data-background="images/content/slider/43.jpg">
                <!-- ITEM  -->
                <div class="top-padding bottom-padding-lg">
                    <div class="container slider-content text-center">
                        <!-- TITLE  -->
                        <h1 style="text-align: center;font-family:Raleway;font-weight:800;font-style:normal">Strategy and Information Technology Solutions</h1>
                        <div class="top-margin bottom-padding-sm slider-title">
                            <!-- TEXT  -->
                            <h4>Since 1995, we’ve provided financial guidance to organizations and individuals,<br>to help turn their entperise goals into reality</h4>
                            <!-- BUTTON  -->
                        </div>
                        <p>
                            <button class="btn btn-lg btn-hv-dark btn-light">Our Service</button>
                        </p>
                    </div>
                </div>

            </section>
            <section id="about-us" class="bottom-padding-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-11 text-center">
                            <!-- SECTION TITLE -->
                            <div class="section-title">
                                <h3 class="parallax-title">Welcome to FinTheme</h3>
                                <div class="bottom-pad">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. soluta hic aperiam porro ipsum nisi optio
                                        <br> necessitatibus commodi dolorum ente voluptatem officiis similique maiores! </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 parallax-desc">
                            <h3 class="text-uppercase parallax-title ">We Translate Your Vision into Action.</h3>
                            <!-- TEXT  -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. porttitor consecteturadipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. . </p>
                            <br>
                            <div class="row bottom-padding">
                                <div class="col-md-4 col-sm-4">
                                    <div class="abt-title">
                                        <!-- ICON  -->
                                        <i class="fa fa-lg fa-pencil-square-o right-pad"></i>
                                        <!-- TITLE  -->
                                        <h5 class="inline font-weight-lbold">Clean</h5>
                                    </div>
                                    <!-- TEXT  -->
                                    <p> Lorem ipsum dolor amet, consectetur adipiscing. </p>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="abt-title">
                                        <!-- ICON  -->
                                        <i class="fa fa-umbrella fa-lg right-pad"></i>
                                        <!-- TITLE  -->
                                        <h5 class="inline font-weight-lbold">Simple </h5>
                                    </div>
                                    <!-- TEXT  -->
                                    <p> Lorem ipsum dolor amet, consectetur adipiscing.</p>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="abt-title">
                                        <!-- ICON  -->
                                        <i class="fa fa-line-chart right-pad"></i>
                                        <!-- TITLE  -->
                                        <h5 class="inline font-weight-lbold">Reliable</h5>
                                        <!-- TEXT  -->
                                    </div>
                                    <p> Lorem ipsum dolor amet, consectetur adipiscing.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- IMAGE-->
                            <div class="bottom-margin-sm">
                                <img class="img-responsive" src="images/content/others/welcome-img.jpg" alt="" width="750" height="380" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="services" class="light-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <h4 class="parallax-title-1 text-uppercase">About US</h4>
                            <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group no-pad accordion-plus accordion-content-transparent accordion-flat accordion-title-transparent">
                                <!-- ACCORDION 1-->
                                <div class="panel panel-default top-padding-sm">
                                    <!-- ACCORDION HEADING-->
                                    <div id="headingOne" role="tab" class="">
                                        <h4 class="right-padding panel-title"> <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class=""><span class="left-padding-sm">Who we are? </span></a> </h4>
                                    </div>
                                    <!--/. ACCORDION HEADING-->
                                    <!-- ACCORDION CONTENT-->
                                    <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse in" id="collapseOne" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa esse obcaecati repudiandae veniam amet modi recusandae optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</p>
                                        </div>
                                    </div>
                                    <!-- /. ACCORDION CONTENT-->
                                </div>
                                <!-- /. ACCORDION 1-->
                                <!-- ACCORDION 2-->
                                <div class="panel panel-default">
                                    <!-- ACCORDION HEADING-->
                                    <div id="headingTwo" role="tab" class="">
                                        <h4 class="panel-title"> <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="collapsed"> <span class="left-padding-sm">What we do? </span></a> </h4>
                                    </div>
                                    <!--/. ACCORDION HEADING-->
                                    <!-- ACCORDION CONTENT-->
                                    <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa esse obcaecati repudiandae veniam amet modi recusandae optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</p>
                                        </div>
                                    </div>
                                    <!-- /.ACCORDION CONTENT-->
                                </div>
                                <!-- /. ACCORDION 2-->
                                <!-- ACCORDION 3-->
                                <div class="panel panel-default">
                                    <!-- ACCORDION HEADING-->
                                    <div id="headingThree" role="tab" class="">
                                        <h4 class="panel-title"> <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="collapsed"><span class="left-padding-sm">How we do? </span></a> </h4>
                                    </div>
                                    <!--/. ACCORDION HEADING-->
                                    <!-- ACCORDION CONTENT-->
                                    <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse" id="collapseThree" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa esse obcaecati repudiandae veniam amet modi recusandae optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</p>
                                        </div>
                                    </div>
                                    <!-- /. ACCORDION CONTENT-->
                                </div>
                                <!-- /. ACCORDION 3-->

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h4 class="parallax-title-1 text-uppercase">process</h4>
                            <div class="bottom-margin-sm">
                                <!-- PROGRESS BAR -->
                                <h5 class="top-padding-sm no-margin small">Social Marketing</h5>
                                <div class="progress progress-striped active progress-bar-border light-bg lable-on-top" data-height="11">
                                    <div data-percentage="90" aria-valuemax="100" data-bg="" aria-valuemin="0" aria-valuenow="90" role="progressbar" class=" progress-bar dark-bg">
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-margin-sm">
                                <!-- PROGRESS BAR -->
                                <h5 class="no-margin small ">Branding</h5>
                                <div class="progress progress-striped active progress-bar-border light-bg lable-on-top" data-height="11">
                                    <div data-percentage="80" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar dark-bg">
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-margin-sm">
                                <!-- PROGRESS BAR -->
                                <h5 class="no-margin small ">Strategy Planning</h5>
                                <div class="progress progress-striped active progress-bar-border light-bg lable-on-top" data-height="11">
                                    <div data-percentage="70" aria-valuemax="100" data-bg="" aria-valuemin="0" aria-valuenow="70" role="progressbar" class="progress-bar dark-bg">
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-margin-sm">
                                <!-- PROGRESS BAR -->
                                <h5 class="no-margin small ">Website Analysis</h5>
                                <div class="progress progress-striped active light-bg lable-on-top progress-bar-border" data-height="11">
                                    <div data-percentage="90" aria-valuemax="100" data-bg="" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar dark-bg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h4 class="text-uppercase parallax-title-1">Our team</h4>
                            <div class="image-wrapper box_border_grey top-margin-md">
                                <img class="img-responsive text-center" src="images/content/others/1.jpg" alt="image" width="500" height="319">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="theme-bg top-padding-sm no-bottom-padding typo-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 bottom-padding-sm" data-animation="fadeInLeft">
                            <!-- TEXT  -->
                            <h2 class="section-block text-center no-margin">We’ve provided financial services to clients for 20 years</h2>
                        </div>
                    </div>
                </div>
            </section>
            <section id="services2" class="no-bottom-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <!-- SECTION TITLE -->
                            <div class="section-title">
                                <h3 class="parallax-title">Our Services</h3>
                                <div class="bottom-pad">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quisquam, culpa, soluta hic aperiam porro ipsum nisi optio
                                        <br> necessitatibus commodi dolorum ente voluptatem officiis similique maiores! </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 bottom-margin-sm">
                            <!-- FEATURE BOX -->
                            <div class="feature-box">
                                <div class="icon-wrapper">
                                    <!-- ICON -->
                                    <i class="fa fa-magic fa-2x "></i>
                                </div>
                                <div class="inner-wrapper">
                                    <div class="title-wrapper">
                                        <!-- FEATURE TITLE -->
                                        <h5 class="feature-title">Market Strategy</h5>
                                    </div>
                                    <!-- FEATURE DESCRIPTION -->
                                    <p class="feature-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                                </div>
                            </div>
                            <!-- /.FEATURE BOX -->
                        </div>
                        <div class="col-md-3 col-sm-6 bottom-margin-sm">
                            <!-- FEATURE BOX -->
                            <div class="feature-box">
                                <div class="icon-wrapper">
                                    <!-- ICON -->
                                    <i class="fa fa-suitcase fa-2x"></i>
                                </div>
                                <div class="inner-wrapper">
                                    <div class="title-wrapper">
                                        <!-- FEATURE TITLE -->
                                        <h5 class="feature-title">Investment planning</h5>
                                    </div>
                                    <!-- FEATURE DESCRIPTION -->
                                    <p class="feature-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                                </div>
                            </div>
                            <!-- /.FEATURE BOX -->
                        </div>
                        <div class="col-md-3 col-sm-6 bottom-margin-sm">
                            <!-- FEATURE BOX -->
                            <div class="feature-box">
                                <div class="icon-wrapper">
                                    <!-- ICON -->
                                    <i class="fa fa-calculator fa-2x"></i>
                                </div>
                                <div class="inner-wrapper">
                                    <div class="title-wrapper">
                                        <!-- FEATURE TITLE -->
                                        <h5 class="feature-title">Taxes Advisory</h5>
                                    </div>
                                    <!-- FEATURE DESCRIPTION -->
                                    <p class="feature-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                                </div>
                            </div>
                            <!-- /.FEATURE BOX -->
                        </div>
                        <div class="col-md-3 col-sm-6 bottom-margin-sm">
                            <!-- FEATURE BOX -->
                            <div class="feature-box">
                                <div class="icon-wrapper">
                                    <!-- ICON -->
                                    <i class="fa fa-bar-chart fa-2x"></i>
                                </div>
                                <div class="inner-wrapper">
                                    <div class="title-wrapper">
                                        <!-- FEATURE TITLE -->
                                        <h5 class="feature-title">Mutual Funds</h5>
                                    </div>
                                    <!-- FEATURE DESCRIPTION -->
                                    <p class="feature-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                                </div>
                            </div>
                            <!-- /.FEATURE BOX -->
                        </div>
                        <div class="col-md-3 col-sm-6 bottom-margin-sm">
                            <!-- FEATURE BOX -->
                            <div class="feature-box">
                                <div class="icon-wrapper">
                                    <!-- ICON -->
                                    <i class="fa fa-puzzle-piece fa-2x"></i>
                                </div>
                                <div class="inner-wrapper">
                                    <div class="title-wrapper">
                                        <!-- FEATURE TITLE -->
                                        <h5 class="feature-title">Retaining Planning</h5>
                                    </div>
                                    <!-- FEATURE DESCRIPTION -->
                                    <p class="feature-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                                </div>
                            </div>
                            <!-- /.FEATURE BOX -->
                        </div>
                        <div class="col-md-3 col-sm-6 bottom-margin-lg">
                            <!-- FEATURE BOX -->
                            <div class="feature-box">
                                <div class="icon-wrapper">
                                    <!-- ICON -->
                                    <i class="fa fa-cubes fa-2x  "></i>
                                </div>
                                <div class="inner-wrapper">
                                    <div class="title-wrapper">
                                        <!-- FEATURE TITLE -->
                                        <h5 class="feature-title">Stock Market</h5>
                                    </div>
                                    <!-- FEATURE DESCRIPTION -->
                                    <p class="feature-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                                </div>
                            </div>
                            <!-- /.FEATURE BOX -->
                        </div>
                        <div class="col-md-3 col-sm-6 bottom-margin-lg">
                            <!-- FEATURE BOX -->
                            <div class="feature-box">
                                <div class="icon-wrapper">
                                    <!-- ICON -->
                                    <i class="fa fa-line-chart fa-2x"></i>
                                </div>
                                <div class="inner-wrapper">
                                    <div class="title-wrapper">
                                        <!-- FEATURE TITLE -->
                                        <h5 class="feature-title">Growth Analysis</h5>
                                    </div>
                                    <!-- FEATURE DESCRIPTION -->
                                    <p class="feature-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                                </div>
                            </div>
                            <!-- /.FEATURE BOX -->
                        </div>
                        <div class="col-md-3 col-sm-6 bottom-margin-lg">
                            <!-- FEATURE BOX -->
                            <div class="feature-box">
                                <div class="icon-wrapper">
                                    <!-- ICON -->
                                    <i class="fa fa-briefcase fa-2x"></i>
                                </div>
                                <div class="inner-wrapper">
                                    <div class="title-wrapper">
                                        <!-- FEATURE TITLE -->
                                        <h5 class="feature-title">Saving & Investments</h5>
                                    </div>
                                    <!-- FEATURE DESCRIPTION -->
                                    <p class="feature-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                                </div>
                            </div>
                            <!-- /.FEATURE BOX -->
                        </div>
                    </div>
                </div>
            </section>
            <section id="team" class="light-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center bottom-padding-md">
                            <!-- TITLE -->
							<div class="section-title">
								<h3 class="parallax-title">Testimonials</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quisquam, culpa, soluta hic aperiam porro ipsum nisi optio
									<br>necessitatibus commodi dolorum ente voluptatem officiis similique maiores!</p>
                        	</div>
						</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- CAROUSEL -->
                            <div class="owl-carousel nav-bottom top-bullet dots-dark dots-outer dots-mini" data-items="1" data-margin="40" data-loop="true" data-merge="true" data-nav="false" data-dots="true" data-stagepadding="" data-mobile="1" data-tablet="2" data-desktopsmall="3" data-desktop="3" data-autoplay="true" data-delay="3000">
                                <!-- TESTIMONIAL -->
                                <div class="item client-says  text-center">
                                    <div class="no-bottom-padding icon-wrapper team-item-img">
                                        <!-- ICON -->
                                        <img class="img-responsive img-circle" src="images/content/client/client-3.jpg" width="85" height="85" alt="1">
                                    </div>
                                    <div class="testimonial-content">
                                        <h5 class="member-details typo-dark">Mike Richards <span class="typo-dgrey occupation">CEO <span class="typo-dark">Veliocon</span></span></h5>
                                        <p class="member-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                    </div>

                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item client-says text-center">
                                    <div class="icon-wrapper team-item-img">
                                        <!-- ICON -->
                                        <img class="img-responsive img-circle" src="images/content/client/client-5.jpg" width="85" height="85" alt="2">
                                    </div>
                                    <div class="testimonial-content">
                                        <h5 class="member-details">Selena Gomez <span class=" typo-dgrey occupation">Operational Director <span class="typo-dark"> Simonua</span></span></h5>
                                        <p class="member-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                    </div>

                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item client-says text-center">
                                    <div class="icon-wrapper team-item-img">
                                        <!-- ICON -->
                                        <img class="img-responsive img-circle" src="images/content/client/client-2.jpg" width="85" height="85" alt="3">
                                    </div>
                                    <div class="testimonial-content">
                                        <h5 class="member-details">Jessica Smith <span class="typo-dgrey occupation">Managing Director<span class="typo-dark"> Ricotech</span></span></h5>
                                        <p class="member-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                    </div>

                                </div>
                                <!-- TESTIMONIAL -->
                                <div class="item client-says text-center">
                                    <div class="icon-wrapper team-item-img">
                                        <!-- ICON -->
                                        <img class="img-responsive img-circle" src="images/content/client/client-1.jpg" width="85" height="85" alt="4">
                                    </div>
                                    <div class="testimonial-content">
                                        <h5 class="member-details">John Deo <span class="typo-dgrey occupation">Consultant <span class="typo-dark"> Wandigo</span></span></h5>
                                        <p class="member-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                    </div>

                                </div>
                            </div>
                            <!-- /. CAROUSEL -->
                        </div>
                    </div>
                </div>
            </section>
            <section id="about-us1" class="no-bottom-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 bottom-padding-sm">
                            <div class="col-md-12 ">
                                <!-- SECTION TITLE -->
                                <!-- TITLE -->
                                <h3 class="parallax-title-1 text-left">Our Partners</h3>
                                <p class="bottom-margin-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                            <ul class="client-grid client-grid-3 no-border clearfix">
                                <li><img src="images/content/client/c1.jpg" alt="" class="img-responsive" width="172" height="147">
                                </li>
                                <li><img src="images/content/client/c2.jpg" alt="" class="img-responsive" width="172" height="147">
                                </li>
                                <li><img src="images/content/client/c3.jpg" alt="" class="img-responsive" width="172" height="147">
                                </li>
                                <li><img src="images/content/client/c4.jpg" alt="" class="img-responsive" width="172" height="147">
                                </li>
                                <li><img src="images/content/client/c5.jpg" alt="" class="img-responsive" width="172" height="147">
                                </li>
                                <li><img src="images/content/client/c6.jpg" alt="" class="img-responsive" width="172" height="147">
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6 left-padding">

                            <div id="MainMenu">
                                <div class="list-group panel  border-none">
                                    <div class="collapse in">
                                        <a href="#SubMenu2" class="list-group-items in collapsed" data-toggle="collapse" data-parent="#SubMenu2"><strong class="font-weight-lbold">Business analytics case studies</strong></a>
                                        <div class="in collapse list-group-submenu typo-lights" id="SubMenu2">
                                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa esse obcaecati repudiandae veniam amet modi recusandae optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</a>
                                            <p class="top-padding-vsm"><a href="#">optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</a>
                                                <p>
                                        </div>
                                    </div>
                                    <div class="collapse in bottom-padding-sm">
                                        <a href="#SubMenu3" class="bottom-margin-md list-group-items  collapsed" data-toggle="collapse" data-parent="#SubMenu3"><strong class="font-weight-lbold">Audit & Assurance case studies</strong></a>
                                        <div class="collapse list-group-submenu typo-lights" id="SubMenu3">
                                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa esse obcaecati repudiandae veniam amet modi recusandae optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</a>
                                            <p class="top-padding-vsm"><a href="#">optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</a>
                                                <p>
                                        </div>
                                    </div>
                                    <div class="collapse in bottom-padding-sm">
                                        <a href="#SubMenu4" class="list-group-items  collapsed" data-toggle="collapse" data-parent="#SubMenu4"><strong class="font-weight-lbold">Mutual fund case studies</strong></a>
                                        <div class="collapse list-group-submenu typo-lights" id="SubMenu4">
                                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa esse obcaecati repudiandae veniam amet modi recusandae optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</a>
                                            <p class="top-padding-vsm"><a href="#">optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</a>
                                                <p>
                                        </div>
                                    </div>
                                    <div class="collapse in bottom-margin-sm">
                                        <a href="#SubMenu5" class="list-group-items  collapsed" data-toggle="collapse" data-parent="#SubMenu5"><strong class="font-weight-lbold">Market Strategy case studies</strong></a>
                                        <div class="collapse list-group-submenu typo-lights" id="SubMenu5">
                                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa esse obcaecati repudiandae veniam amet modi recusandae optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</a>
                                            <p class="top-padding-vsm"><a href="#">optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</a>
                                                <p>
                                        </div>
                                    </div>
                                    <div class="collapse in bottom-margin-sm">
                                        <a href="#SubMenu6" class="list-group-items  collapsed" data-toggle="collapse" data-parent="#SubMenu6"><strong class="font-weight-lbold">Taxes Planning case studies</strong></a>
                                        <div class="collapse list-group-submenu typo-lights" id="SubMenu6">
                                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa esse obcaecati repudiandae veniam amet modi recusandae optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</a>
                                            <p class="top-padding-vsm"><a href="#">optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</a>
                                                <p>
                                        </div>
                                    </div>
                                    <div class="collapse in bottom-margin-sm">
                                        <a href="#SubMenu7" class="list-group-items in collapsed" data-toggle="collapse" data-parent="#SubMenu7"><strong class="font-weight-lbold">Financial Planning Case Studies</strong></a>
                                        <div class="collapse list-group-submenu typo-lights" id="SubMenu7">
                                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ipsa esse obcaecati repudiandae veniam amet modi recusandae optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</a>
                                            <p class="top-padding-vsm"><a href="#" >optio earum sequi accusantium culpa vitae commodi voluptatem officia quam.</a>
                                                <p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- /.GRID SECTION -->
            <section class="theme-bg top-padding-sm no-bottom-padding typo-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="text-center" data-animation="fadeInLeft">
                                <ul class="list-inline">
                                    <li>
                                        <h2 class="section-titles">Get A Free Quote / Need a Help ?</h2></li>
                                    <li class="left-padding-sm"><a class="btn btn-sm btn-light btn-hv-light btn-rounded btn-default" href="contact-us.html"> Contact Now</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- FOOTER SECTION -->
        <footer id="footer" class="footer dark-bg">
            <div class="footer-top">
                <div class="container">
                    <div class="row bg-no-repeat background-position-left">
                        <div class="col-md-3 col-sm-6">
                            <!-- LOGO -->
                            <img src="images/logo1.png" alt="logo" width="155" height="25">
                            <br>
                            <p>FinTheme is a superbly innovative, robustly reliable, clean-coded and feature rich WordPress theme with powerful administration settings. It is easy to customize for all kinds of financial companies.</p>

                            <div class="feature-box no-bottom-margin style-3">
                                <div class="icon-wrapper">
                                    <!-- ICON -->
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="inner-wrapper">
                                    <!--  PHONE NUMBER -->
                                    <p class="feature-description"> - +44 123 4567</p>
                                </div>
                            </div>
                            <div class="feature-box style-3">
                                <div class="icon-wrapper">
                                    <!-- ICON -->
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="inner-wrapper">
                                    <!-- EMAIL -->
                                    <p class="feature-description"><a class="" href="mailto:info@website.com"> - info@fintheme.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <!-- WIDGET -->
                            <h5 class="widget-title text-style text-uppercase">Services</h5>
                            <!-- LIST -->
                            <ul class="list-unstyled">
                                <li class="bottom-margin-vsm"><a href="market-strategy.html">Market Strategy</a>
                                </li> <li class="bottom-margin-vsm"><a href="trades-stocks.html">Trades & Stocks</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="strategic-planning.html">Strategic Planning</a>
								</li>
								<li class="bottom-margin-vsm"><a href="investment-planning.html">Investment planning</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="taxes-advisory.html">Taxes Advisory</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="mutual-funds.html">Mutual Funds</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="retaining-planning.html">Retaining Planning</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="charities.html">charities</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6 recent-block">
                            <h5 class="widget-title text-style left-padding-sm text-uppercase">Latest News</h5>
                             <ul class="list-unstyled left-padding-sm">
                                <li><a href="secrets-about-investment-they-are-still-keeping-from-you.html"><span class="icons fa fa-minus"></span>Secrets About Investment They Are Still Keeping From You </a>
                                </li>
                                <li>December 12, 2016</li>
                                <li><a href="marketing-strategy-secrets-revealed.html"><span class="icons fa fa-minus"></span>Marketing Strategy Secrets Revealed</a>
                                </li>
                                <li>December 12, 2016</li>
                                <li><a href="business-plan-strategies-for-the-entrepreneurially-challenged.html"><span class="icons fa fa-minus"></span>Business Plan Strategies For The Entrepreneurially Challenged</a>
                                </li>
                                <li>December 12, 2016</li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6  footer-widgets">
                            <!-- NEWSLETTER -->
                            <h5 class="widget-title text-style text-uppercase">Newsletter Signup</h5>
                            <p>Sign up for new FinTheme content, updates, surveys & offers. </p>
                            <p class="form-message1" style="display: none;"></p>
                            <form class="input-group form-flat form-theme padding-top-10 bv-form" name="subscribe-form" method="post" action="php/subscription.php" id="subscribe-form" novalidate="novalidate">
                                <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                <div class="form-group has-feedback">
                                    <input class="form-control typo-light" placeholder="Enter Your Email" value="" name="subscribe_email" data-bv-field="subscribe_email" type="email"><i style="display: none;" class="form-control-feedback bv-no-label" data-bv-icon-for="subscribe_email"></i>
                                    <small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Email is required. Please enter email.</small><small style="display: none;" class="help-block" data-bv-validator="emailAddress" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Please enter a correct email address.</small>
                                </div>
                                <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="flaticon-next-1 fa"></i></button></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom footer-top-border">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                &copy; Copy Right 2017  All Rights Reserved.
                                <ul class="footer-bottom-links text-uppercase">
                                    <li><a href="http://catchpixel.com/" target="_blank">Crafted By CatchPixel</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <!-- SOCIAL SHARE -->
                            <ul class="footer-social-icons">
                                <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook text-darkest social-facebook-hvcolor"></i></a></li>
                                <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter text-darkest social-twitter-hvcolor"></i></a></li>
                                <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin text-darkest social-linkedin-hvcolor"></i></a></li>
                                <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest text-darkest social-pinterest-hvcolor"></i></a></li>
                                <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus text-darkest social-google-plus-hvcolor"></i></a></li>
                                <li class="youtube"><a href="#" target="_blank"><i class="fa fa-youtube text-darkest social-youtube-hvcolor"></i></a></li>
                                <li class="dribbble"><a href="#" target="_blank"><i class="fa fa-dribbble text-darkest social-dribbble-hvcolor"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a href="#" id="back-to-top" title="Back to top"></a>
        <!-- FOOTER SECTION -->
    </div>
    <!-- /. PAGE WRAPPER -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/jquery.appear.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>