<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
    <!-- Latest IE rendering engine & Chrome Frame Meta Tags -->
    <!--[if IE]>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <![endif]-->
    <!-- TITLE-->
    <title>FinTheme</title>
    <!-- Favicon -->

    <!-- GOOGLE FONTS
            ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link rel="stylesheet" id="google-fonts-zozo_options-css" href="http://fonts.googleapis.com/css?family=Hind%3A300%2C400%2C500%2C600%2C700%7CRaleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%2C100italic%2C200italic%2C300italic%2C400italic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic" type="text/css" media="all">

    <!-- CSS BEGINS 
            ================================================== -->
    <!-- ELEMENTS BASE CSS -->
    <link href="css/elements.min.css" rel="stylesheet" type="text/css" />
    <!-- THEME BASE CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- COLOR SCHEME -->
    <link href="css/colors/color1.css" id="changeable-colors" rel="stylesheet" />
    <!-- CSS ENDS   
		 	 ================================================== -->
</head>

<body>
    <!-- Page Loader -->
    <div id="pageloader">
        <div class="loader-inner">
            <img src="images/base/loader.gif" alt="">
        </div>
    </div>
    <!-- PAGE WRAPPER -->
    <div id="page-wrapper" class="right-push header-dropdown-dark">
        <div class="content-wrapper">
            <!-- HEADER -->
            <header class="header-details-toggle header-dark header-sticky-light">
                <!-- STICKY WRAPPER -->
                <div id="sticker" class="header-main sticky-navigation">
                    <nav class="navbar navbar-default fixed">
                        <div class="container">
                            <!-- TOGGLE ICON -->
                            <div class="navbar-header">
                                <a class="navbar-toggle" href="#nav-menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span> </a>
                                <!-- LOGO & LOGO STICKY  -->
                                <a class="navbar-brand" href="index.html"><img src="images/logo1.png" alt="logo" width="155" height="25"><img src="images/logo1.png" class="sticky-logo" alt="logo" width="155" height="25"> </a>
                            </div>
                            <!-- /. TOGGLE ICON -->
                            <!-- EXTRA NAV (FOR ELEMENTS) -->
                            <div id="extra-nav" class="extra-nav">
                                <ul class="nav navbar-nav navbar-right">
                                    <!-- TOGGLR SEARCH -->
                                    <li class="dropdown search-dropdown">
                                        <a id="search-toggle" class="header-toggle-icon" href="#"> <span class="flaticon-magnifying-glass"></span>
                                        </a>
                                    </li>
                                    <!-- /. TOGGLR SEARCH -->
                                    <li id="extra-toggle-search" class="theme-bg header-toggle-content">
                                        <div class="container">
                                            <form>
                                                <input type="text" class="form-control typo-light" id="search-form" name="search-form" placeholder="TYPE AND HIT ENTER..">
                                                <a id="toggle-close-search" class="toggle-close" href="#"><span class="fa fa-times typo-light text-style"></span></a>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /. EXTRA NAV (FOR ELEMENTS) -->
                            <!-- MAIN MENU -->
                            <div id="nav-menu">
                                <ul class="nav navbar-nav navbar-right">
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="index.html" class="active">Home <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index2.html">Home Layout 2</a></li>
                                            <li><a href="index3.html">Home Layout 3</a></li>
                                            <li><a href="index4.html">Home Layout 4</a></li>
											<li><a href="index5.html">Home Layout 5</a></li>
											<li><a href="index6.html">Home Layout 6</a></li>
											<li><a href="one-page-demo.html">One Page Demo</a></li>
                                        </ul>
                                    </li>
                                    <!-- MENU -->
                                    <!-- MEGA MENU -->
                                    <li class="dropdown">
                                        <a href="about.html">About<span class="caret"></span></a>
                                        <!-- MEGA MENU WRAPPER -->
                                        <ul class="dropdown-menu">
                                            <li class="extra-link"><a href="our-business.html" class="sub-menu">Our Business</a>
                                            </li>
                                            <li><a href="our-history.html">Our History</a>
                                            </li>
                                            <li><a href="our-awards.html">Our Awards</a>
                                            </li>
                                            <li><a href="our-vision-and-values.html">Our Vision and Values</a>
                                            </li>
                                            <li><a href="our-team.html">Our Team</a>
                                            </li>
                                            <li><a href="corporate-social-responsibility.html">Corporate Social Responsibility</a>
                                            </li>
                                            <li><a href="careers.html">Careers</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <!-- MEGA MENU -->
                                    <li class="dropdown">
                                        <a href="services.html">Service<span class="caret"></span></a>
                                        <!-- DROPDOWN MENU -->
                                        <ul class="dropdown-menu">
                                            <li><a href="market-strategy.html">Market Strategy</a>
                                            </li>
                                            <li><a href="trades-stocks.html">Trades & Stocks</a>
                                            </li>
                                            <li><a href="strategic-planning.html">Strategic Planning</a
                                            ></li>
                                            <li><a href="investment-planning.html">Investment planning</a>
                                            </li>
                                            <li><a href="taxes-advisory.html">Taxes Advisory</a>
                                            </li>
                                            <li><a href="mutual-funds.html">Mutual Funds</a>
                                            </li>
                                            <li><a href="retaining-planning.html">Retaining Planning</a>
                                            </li>
                                            <li><a href="charities.html">charities</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- MENU -->
                                    <!-- DROPDOWN -->
                                    <li class="dropdown">
                                        <a href="blog-resources.html">Blog &amp; Resources<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="blog-resources.html">Blog</a>
                                            </li>
                                            <li><a href="case-studies.html">Case studies</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- DROPDOWN -->
                                    <li class="dropdown"><a href="events.html">Events</a>
                                    </li>
                                    <!-- MENU -->
                                    <!-- MEGA MENU -->
                                    <li class="dropdown mega-dropdown scroll"><a href="contact-us.html">Contact Us</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- /. MAIN MENU -->
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
                <!-- /. STICKY WRAPPER -->
            </header>
            <!-- /. HEADER -->
            <!-- GRID SECTION -->
            <!-- PAGE HEADING SECTION -->
            <section class="page-header padding-sm page-title-left minimal light-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <!-- TITLE-->
                            <h2 class="" data-animated="fadeInLeftBig" data-animation-delay="400">Our Team</h2>
                            <!-- BREADCRUMB-->
                            <ul class="breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>

                                <li class="typo-dark">Our Team</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- TESTIMONIALS SECTION -->
            <section id="testimonials" class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 bottom-margin-sm">
                            <!-- FEATURE BOX -->
                            <div class="feature-box style-3">
                                <div class="icon-wrapper team-item-img">
                                    <!-- ICON -->
                                    <img class="img-responsive img-circle img-icon" src="images/content/team/set/team-4.jpg" width="230" height="85" alt="team">
                                </div>
                                <div class="inner-wrapper">
                                    <!-- FEATURE DESCRIPTION -->
                                    <p class="feature-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                                    <div class="title-wrapper">
                                        <!-- FEATURE TITLE -->
                                        <h5 class="no-bottom-margin feature-title">Henrik Stenson</h5>
                                        <p>Business Analyst </p>
                                    </div>

                                </div>
                            </div>
                            <!-- /.FEATURE BOX -->
                        </div>
                        <div class="col-md-4 bottom-margin-sm">
                            <!-- FEATURE BOX -->
                            <div class="feature-box style-3">
                                <div class="icon-wrapper team-item-img">
                                    <!-- ICON -->
                                    <img class="img-responsive img-circle img-icon" src="images/content/team/set/team-5.jpg" width="230" height="85" alt="team">
                                </div>
                                <div class="inner-wrapper">
                                    <!-- FEATURE DESCRIPTION -->
                                    <p class="feature-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                                    <div class="title-wrapper">
                                        <!-- FEATURE TITLE -->
                                        <h5 class="no-bottom-margin feature-title">Mary Jane</h5>
                                        <p>Cheif Consultant </p>
                                    </div>

                                </div>
                            </div>
                            <!-- /.FEATURE BOX -->
                        </div>
                        <div class="col-md-4 bottom-margin-sm">
                            <!-- FEATURE BOX -->
                            <div class="feature-box style-3">
                                <div class="icon-wrapper team-item-img">
                                    <!-- ICON -->
                                    <img class="img-responsive img-circle img-icon" src="images/content/team/set/team-3.jpg" width="230" height="85" alt="team">
                                </div>
                                <div class="inner-wrapper">
                                    <!-- FEATURE DESCRIPTION -->
                                    <p class="feature-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                                    <div class="title-wrapper">
                                        <!-- FEATURE TITLE -->
                                        <h5 class="no-bottom-margin feature-title">Charles Darwin</h5>
                                        <p>Tax Advisor </p>
                                    </div>

                                </div>
                            </div>
                            <!-- /.FEATURE BOX -->
                        </div>
                        <div class="col-md-4 ">
                            <!-- FEATURE BOX -->
                            <div class="feature-box style-3 no-bottom-margin">
                                <div class="icon-wrapper team-item-img">
                                    <!-- ICON -->
                                    <img class="img-responsive img-circle img-icon" src="images/content/team/set/team-6.jpg" width="230" height="85" alt="team">
                                </div>
                                <div class="inner-wrapper">
                                    <!-- FEATURE DESCRIPTION -->
                                    <p class="feature-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                                    <div class="title-wrapper">
                                        <!-- FEATURE TITLE -->
                                        <h5 class="no-bottom-margin feature-title">Rachel Nicholas</h5>
                                        <p>Marketing Head </p>
                                    </div>

                                </div>
                            </div>
                            <!-- /.FEATURE BOX -->
                        </div>
                        <div class="col-md-4 ">
                            <!-- FEATURE BOX -->
                            <div class="feature-box style-3 no-bottom-margin">
                                <div class="icon-wrapper team-item-img">
                                    <!-- ICON -->
                                    <img class="img-responsive img-circle img-icon" src="images/content/team/set/team-2.jpg" width="230" height="85" alt="team">
                                </div>
                                <div class="inner-wrapper">
                                    <!-- FEATURE DESCRIPTION -->
                                    <p class="feature-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                                    <div class="title-wrapper">
                                        <!-- FEATURE TITLE -->
                                        <h5 class="no-bottom-margin feature-title">Michael Howard</h5>
                                        <p>Consultant </p>
                                    </div>

                                </div>
                            </div>
                            <!-- /.FEATURE BOX -->
                        </div>
                        <div class="col-md-4 ">
                            <!-- FEATURE BOX -->
                            <div class="feature-box style-3 no-bottom-margin">
                                <div class="icon-wrapper team-item-img">
                                    <!-- ICON -->
                                    <img class="img-responsive img-circle img-icon" src="images/content/team/set/team-1.jpg" width="230" height="85" alt="team">
                                </div>
                                <div class="inner-wrapper">
                                    <!-- FEATURE DESCRIPTION -->
                                    <p class="feature-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                                    <div class="title-wrapper">
                                        <!-- FEATURE TITLE -->
                                        <h5 class="no-bottom-margin feature-title">Mariya Roy</h5>
                                        <p>Finance Advisor </p>
                                    </div>

                                </div>
                            </div>
                            <!-- /.FEATURE BOX -->
                        </div>
                    </div>

                </div>
            </section>
            <!-- TESTIMONIALS SECTION -->
          <!-- /.GRID SECTION -->
            <section class="theme-bg top-padding-sm no-bottom-padding typo-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="text-center" data-animation="fadeInLeft">
								<ul class="list-inline">
									<li><h2 class="section-titles">Get A Free Quote / Need a Help ?</h2></li>
									<li class="left-padding-sm"><a class="btn btn-sm btn-light btn-hv-light btn-rounded btn-default" href="contact-us.html"> Contact Now</a></li>
								</ul>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>
		</div>
            <!-- FOOTER SECTION -->
            <footer id="footer" class="footer dark-bg">
                <div class="footer-top">
                    <div class="container">
                        <div class="row bg-no-repeat background-position-left">
                            <div class="col-md-3 col-sm-6">
                                <!-- LOGO -->
                                <img src="images/logo1.png" alt="logo">
                                <br>
                                <p>FinTheme is a superbly innovative, robustly reliable, clean-coded and feature rich WordPress theme with powerful administration settings. It is easy to customize for all kinds of financial companies.</p>

                                <div class="feature-box no-bottom-margin style-3">
                                    <div class="icon-wrapper">
                                        <!-- ICON -->
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="inner-wrapper">
                                        <!--  PHONE NUMBER -->
                                        <p class="feature-description"> - +44 123 4567</p>
                                    </div>
                                </div>
                                <div class="feature-box style-3">
                                    <div class="icon-wrapper">
                                        <!-- ICON -->
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="inner-wrapper">
                                        <!-- EMAIL -->
                                        <p class="feature-description"><a class="" href="mailto:info@website.com"> - info@fintheme.com</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6">
                            <!-- WIDGET -->
                            <h5 class="widget-title text-style text-uppercase">Services</h5>
                            <!-- LIST -->
                            <ul class="list-unstyled">
                                <li class="bottom-margin-vsm"><a href="market-strategy.html">Market Strategy</a>
                                </li> <li class="bottom-margin-vsm"><a href="trades-stocks.html">Trades & Stocks</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="strategic-planning.html">Strategic Planning</a
										></li>
										<li class="bottom-margin-vsm"><a href="investment-planning.html">Investment planning</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="taxes-advisory.html">Taxes Advisory</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="mutual-funds.html">Mutual Funds</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="retaining-planning.html">Retaining Planning</a>
                                </li>
                                <li class="bottom-margin-vsm"><a href="charities.html">charities</a>
                                </li>
                            </ul>
                        </div>
                            <div class="col-md-4 col-sm-6  recent-block">
                            <h5 class="widget-title text-style left-padding-sm text-uppercase">Latest News</h5>
                             <ul class="list-unstyled left-padding-sm">
                                <li><a href="secrets-about-investment-they-are-still-keeping-from-you.html"><span class="icons fa fa-minus"></span>Secrets About Investment They Are Still Keeping From You </a>
                                </li>
                                <li>December 12, 2016</li>
                                <li><a href="marketing-strategy-secrets-revealed.html"><span class="icons fa fa-minus"></span>Marketing Strategy Secrets Revealed</a>
                                </li>
                                <li>December 12, 2016</li>
                                <li><a href="business-plan-strategies-for-the-entrepreneurially-challenged.html"><span class="icons fa fa-minus"></span>Business Plan Strategies For The Entrepreneurially Challenged</a>
                                </li>
                                <li>December 12, 2016</li>
                            </ul>
                        </div>
                            <div class="col-md-3 col-sm-6  footer-widgets">
                                <!-- NEWSLETTER -->
                                <h5 class="widget-title text-style text-uppercase">Newsletter Signup</h5>
                                <p>Sign up for new FinTheme content, updates, surveys & offers. </p>
                                <p class="form-message1" style="display: none;"></p>
                                <form class="input-group form-flat form-theme padding-top-10 bv-form" name="subscribe-form" method="post" action="php/subscription.php" id="subscribe-form" novalidate="novalidate">
                                    <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                    <div class="form-group has-feedback">
                                        <input class="form-control typo-light" placeholder="Enter Your Email" value="" name="subscribe_email" data-bv-field="subscribe_email" type="email"><i style="display: none;" class="form-control-feedback bv-no-label" data-bv-icon-for="subscribe_email"></i>
                                        <small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Email is required. Please enter email.</small><small style="display: none;" class="help-block" data-bv-validator="emailAddress" data-bv-for="subscribe_email" data-bv-result="NOT_VALIDATED">Please enter a correct email address.</small>
                                    </div>
                                    <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="flaticon-next-1 fa"></i></button></span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom footer-top-border">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="copyright">
                                &copy; Copy Right 2017  All Rights Reserved.
                                <ul class="footer-bottom-links text-uppercase">
                                    <li><a href="http://catchpixel.com/" target="_blank">Crafted By CatchPixel</a></li>
                                </ul>
                            </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <!-- SOCIAL SHARE -->
                                <ul class="footer-social-icons">
                                    <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook text-darkest social-facebook-hvcolor"></i></a></li>
                                    <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter text-darkest social-twitter-hvcolor"></i></a></li>
                                    <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin text-darkest social-linkedin-hvcolor"></i></a></li>
                                    <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest text-darkest social-pinterest-hvcolor"></i></a></li>
                                    <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus text-darkest social-google-plus-hvcolor"></i></a></li>
                                    <li class="youtube"><a href="#" target="_blank"><i class="fa fa-youtube text-darkest social-youtube-hvcolor"></i></a></li>
                                    <li class="dribbble"><a href="#" target="_blank"><i class="fa fa-dribbble text-darkest social-dribbble-hvcolor"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <a href="#" id="back-to-top" title="Back to top"></a>
            <!-- FOOTER SECTION -->
        </div>
        <!-- /. PAGE WRAPPER -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/bootstrapValidator.min.js"></script>
        <script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
        <script type="text/javascript" src="js/jquery.sticky.js"></script>
        <script type="text/javascript" src="js/jquery.appear.min.js"></script>
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
        <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="js/count-to.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>